<div class="abstract">
    {{#if offerResult.thumbnail}}
    <div class="thumbnail">
        <img src="{{offerResult.thumbnail}}" data-extra="image" />
    </div>
    {{/if}}
    <div class="content">
        <a
            class="result"
            data-url="{{url}}"
            href="{{displayUrl}}"
        >
            <p>
                <span data-extra="title" class="title">
                    {{emphasis title query 2 true}}
                </span>
                {{#if friendlyUrl}}
                    <span class="divider">&#8212;</span>
                    <span data-extra="url" class="url">{{friendlyUrl}}</span>
                {{/if}}
            </p>
            {{#if description}}
            <p>
                <span class="ad">Anzeige</span>
                <span class="description" data-extra="description">
                    {{emphasis description query 2 true}}
                </span>
            </p>
            {{/if}}
        </a>
        <p>
            {{> partials/offer/promo-code}}
        </p>
    </div>
</div>
