{{#each this}}
    <div class="item" {{#if unique }} style="margin-left: calc(50% - 112px);" {{/if}}/>
        <div class= "value {{send}}" title="{{val}}">
            {{val}}
        </div>
        <div class="legend">
            {{name}} {{#if des}}({{des}}){{/if}}
        </div>
    </div>
{{else}}
    <div class="item" style="margin-left: calc(50% - 112px);">
        <div class="value no-activity" data-i18n="transparency_activity_buttons"></div>
    </div>
{{/each}}

