<div class="columns">
  <div class="column col-6">
    <div id='site-profile-header-plot' class="chart-container">
      <canvas id="trackers-plot"></canvas>
    </div>
  </div>
  <div class="column col-6">

    {{!-- TODO: site should be its own component --}}
    <div class="card site-card">
      <div class="card-header site-name">
        <i class="fas fa-globe"></i>
        {{site.site}}
      </div>
      <div class="card-body site-info">
        <div class="columns">
          <div class="colum col-12 card-metric">
            Pages Visited
            <span class="label label-rounded label-secondary float-right">{{site.pagesVisited}}</span>
          </div>
          <div class="colum col-12 card-metric">
            Trackers Seen
            <span class="label label-rounded label-secondary float-right">{{site.trackersSum}}</span>
          </div>
          <div class="colum col-12 card-metric">
            Personal Data Saved
            <span class="label label-rounded label-secondary float-right">{{site.datapointsRemoved}}</span>
          </div>
          <div class="colum col-12 card-metric">
            Cookies Blocked
            <span class="label label-rounded label-secondary float-right">{{site.cookiesBlocked}}</span>
          </div>
          <div class="colum col-12 card-metric">
            Requests Blocked
            <span class="label label-rounded label-secondary float-right">{{site.requestsBlocked}}</span>
          </div>
        </div>
      </div>
    </div>
    {{!-- End of component --}}

  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="card-title h5">
      <i class="fas fa-crosshairs"></i>
      Trackers
    </div>
    <div class="card-subtitle">seen to be present on this site during your visits</div>
  </div>
  <div class="card-body">
    <div class="columns">
      {{#each trackers}}
        <div class="column col-4">
          <div class="card">
            <div class="card-header">
              <a style="display: block;" href="resource://cliqz/privacy/tracker.html?tracker={{tracker}}" class="card-title h6">{{tracker}}</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
