<div class="card">
  <div class="card-header">
    <div class="card-title h5">
      <i class="fas fa-globe"></i>
      Site Stats
    </div>
    <div class="card-subtitle text-gray">Exposure to tracking from sites you visit</div>
  </div>
  <div class="card-body">
    <div class="contanier">
      <div class="columns">
        {{#each this}}
          <div class="column col-6">
            {{!-- TODO: This should be its own component --}}
            <div class="card site-card">
                <div class="card-header site-name">
                <a href="resource://cliqz/privacy/site.html?site={{this.site}}" class="btn float-right">
                    <i class="icon icon-forward"></i>
                </a>
                {{this.site}}
                </div>
                <div class="card-body site-info">
                <div class="columns">
                    <div class="colum col-12 card-metric">
                    Pages Visited  <span class="label label-rounded label-secondary float-right">{{this.pagesVisited}}</span>
                    </div>
                    <div class="colum col-12 card-metric">
                    Trackers Seen  <span class="label label-rounded label-secondary float-right">{{this.trackersSum}}</span>
                    </div>
                    <div class="colum col-12 card-metric">
                    Personal Data Saved  <span class="label label-rounded label-secondary float-right">{{this.datapointsRemoved}}</span>
                    </div>
                    <div class="colum col-12 card-metric">
                    Cookies Blocked  <span class="label label-rounded label-secondary float-right">{{this.cookiesBlocked}}</span>
                    </div>
                    <div class="colum col-12 card-metric">
                    Requests Blocked  <span class="label label-rounded label-secondary float-right">{{this.requestsBlocked}}</span>
                    </div>
                </div>
                </div>
            </div>
            {{!-- End of component --}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>