<div class="card">
  <div class="card-header">
    <div class="card-title h5">
      <i class="fas fa-crosshairs"></i>
      Tracker Stats
    </div>
    <div class="card-subtitle text-gray">Trackers lurking over your data</div>
  </div>
  <div class="card-body">
    <div class="contanier">
      <div class="columns">
        {{#each this}}
          <div class="column col-6">
            <div class="card site-card">
              <div class="card-header site-name">
                <a href="resource://cliqz/privacy/site.html?tracker={{this.tracker}}" class="btn float-right">
                  <i class="icon icon-forward"></i>
                </a>
                {{this.tracker}}
              </div>
              <div class="card-body site-info">
                <div class="columns">
                  <div class="colum col-12 card-metric">
                    Pages Present  <span class="label label-rounded label-secondary float-right">{{this.pagesPresent}}</span>
                  </div>
                  <div class="colum col-12 card-metric">
                    Personal Data Saved  <span class="label label-rounded label-secondary float-right">{{this.datapointsRemoved}}</span>
                  </div>
                  <div class="colum col-12 card-metric">
                    Cookies Blocked  <span class="label label-rounded label-secondary float-right">{{this.cookiesBlocked}}</span>
                  </div>
                  <div class="colum col-12 card-metric">
                    Requests Blocked  <span class="label label-rounded label-secondary float-right">{{this.requestsBlocked}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>