<div class="columns">
  <div class="column col-6">
    <div id='site-profile-header-plot' class="chart-container">
      <canvas id="trackers-plot"></canvas>
    </div>
  </div>
  <div class="column col-6">

    {{!-- TODO: site should be its own component --}}
    <div class="card site-card">
      <div class="card-header site-name">
        <i class="fas fa-crosshairs"></i>
        {{tracker.tracker}}
      </div>
      <div class="card-body site-info">
        <div class="columns">
          <div class="colum col-12 card-metric">
            Pages Present
            <span class="label label-rounded label-secondary float-right">{{tracker.pagesPresent}}</span>
          </div>
          <div class="colum col-12 card-metric">
            Personal Data Saved
            <span class="label label-rounded label-secondary float-right">{{tracker.datapointsRemoved}}</span>
          </div>
          <div class="colum col-12 card-metric">
            Cookies Blocked
            <span class="label label-rounded label-secondary float-right">{{tracker.cookiesBlocked}}</span>
          </div>
          <div class="colum col-12 card-metric">
            Requests Blocked
            <span class="label label-rounded label-secondary float-right">{{tracker.requestsBlocked}}</span>
          </div>
        </div>
      </div>
    </div>
    {{!-- End of component --}}

  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="card-title h5">
      <i class="fas fa-globe"></i>
      Sites
    </div>
    <div class="card-subtitle">where this tracker has been seen to be present</div>
  </div>
  <div class="card-body">
    <div class="columns">
      {{#each sites}}
        <div class="column col-4">
          <div class="card">
              <div class="card-header">
                <a style="display: block;" class="card-title h6" href="resource://cliqz/privacy/site.html?site={{site}}">{{site}}</a>
              </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
