<img class="image" src='{{checkImg (json @this)}}' />

<div class='ellipsis'>
  {{@index}} | {{title}}
</div>

<div class='ellipsis url' title='{{url}}'>
  <a href={{url}}>{{url}}</a>
</div>

<div class='ellipsis description' title='{{description}}'>
  {{desc description}}
</div>

<div class='ellipsis'>
  Type: {{type}} | template: {{template}}
</div>