{{#if module.adblocker.visible }}
<div class="frame-container {{module.adblocker.off_state}}"
     data-status="{{ module.adblocker.state }}"
     data-inactiveState="off"
     data-url="{{ activeURL }}"
     data-visible="{{ module.adblocker.off_state }}">
  <div class="adblocker">
    <div class="title">
      <div id="ad-blocking-tooltip" class="tooltip-content">
        <span class="title" data-i18n="control_center_info_ads_title"></span>
        <span data-i18n="control_center_info_ads"></span>
      </div>
      <span class="hover-highlighted cc-tooltip" data-start-navigation data-i18n="control_center_adblock_title" data-tooltip-content="#ad-blocking-tooltip"></span>
      <svg data-start-navigation id="smallarrow" width="10px" height="16px" viewBox="0 0 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                <g id="Cliqz-Privacy-Center-3" transform="translate(-674.000000, -290.000000)" stroke-width="2.5999999" stroke="#4D4D4D">
                    <polyline id="Path-164-Copy-183" points="676.092831 292.227875 681.989759 298.13463 676.323476 303.810354"></polyline>
                </g>
            </g>
        </svg>
      <div class="switches">
        <span data-visible-on-state="off" class="new-dropdown">
          <button class="dropdown-btn">
            <span class="dropdown-content-option-text"
                  data-visible-on-state="off"
                  data-i18n="control_center_this_site"
                  data-visible="off_website">
            </span>
            <span class="dropdown-content-option-text"
                  data-visible-on-state="off"
                  data-i18n="control_center_this_domain"
                  data-visible="off_domain">
            </span>
            <span class="dropdown-content-option-text"
                  data-visible-on-state="off"
                  data-i18n="control_center_all_sites"
                  data-visible="off_all">
            </span>
            <svg class="arr" width="12px" height="7px" viewBox="96 10 12 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <polyline id="fill" id="Path-164-Copy-93" stroke="none" fill="#A2A2A2" fill-rule="evenodd" opacity="0.554279384" transform="translate(102.166470, 13.884133) rotate(90.000000) translate(-102.166470, -13.884133) " points="99.218006 8.09289333 105.114934 13.999648 99.4486516 19.6753727"></polyline>
            </svg>
          </button>

          <div class="new-dropdown-content">
            <a class="dropdown-content-option thisSiteText
            {{#if module.adblocker.disabledForUrl }} selected {{/if}}"
                data-i18n="control_center_this_site"
                value="page"
                data-type="off_select"
                data-state="off_website"
                role="adBlockerStatusChanger">
            </a>

            <a class="dropdown-content-option thisDomainText
            {{#if module.adblocker.disabledForDomain }} selected {{/if}}"
                data-i18n="control_center_this_domain"
                value="domain"
                data-type="off_select"
                data-state="off_domain"
                role="adBlockerStatusChanger">
             </a>

            <a class="dropdown-content-option allSitesText
            {{#if module.adblocker.disabledEverywhere}} selected {{/if}}"
                data-i18n="control_center_all_sites"
                value="all-sites"
                data-type="off_select"
                data-state="off_all"
                role="adBlockerStatusChanger">
             </a>
          </div>
        </span>
        <span>
          <span data-visible-on-state="active" data-i18n="control_center_switch_on"></span>
          <span data-visible-on-state="off" data-i18n="control_center_switch_off"></span>
          <span class="cqz-switch"
                data-type="switch"
                role="adBlockerStatusChanger">
            <span class="cqz-switch-box"></span>
          </span>
        </span>
      </div>
    </div>
    <div class="settings-section-row">
      <div class="counter" data-start-navigation>
        <!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
        <svg id="block" width="32px" height="39px" viewBox="0 0 32 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="ad-block-Gstop-dropdown" transform="translate(-6.000000, 0.000000)" fill-rule="nonzero">
                    <rect id="Rectangle-12-Copy" fill-opacity="0.00840692935" fill="#FFFFFF" opacity="0.385377799" x="6.44057291" y="0.96010742" width="31" height="38"></rect>
                    <path d="M21.931013,9.19182521 L12.21594,13.2159402 L8.19182508,22.9310131 L12.21594,32.6460861 L21.931013,36.6702011 L31.6460859,32.6460861 L35.6702009,22.9310131 L31.6460859,13.2159402 L21.931013,9.19182521 Z M33.7891132,11.072913 L38.700899,22.9310131 L33.7891132,34.7891133 L21.931013,39.7008992 L10.0729128,34.7891133 L5.16112692,22.9310131 L10.0729128,11.072913 L21.931013,6.16112705 L33.7891132,11.072913 Z" id="Polygon-12-Copy-19" fill="#54BF30" transform="translate(21.931013, 22.931013) rotate(22.500000) translate(-21.931013, -22.931013) "></path>
                    <polygon id="Line-Copy-94" fill="#54BF30" points="10.7926997 14.1379593 30.8478049 34.1930645 32.8277039 32.2131655 12.7725987 12.1580603"></polygon>
                </g>
            </g>
        </svg>
        <span id="count"">
          <span data-visible-on-state="active">{{ module.adblocker.totalCount }}</span>
          <span data-visible-on-state="off">0</span>
        </span>
      </div>
      <div class="row-text">
          <p class="description" data-start-navigation data-i18n="control_center_adblock_description" data-visible-on-state="active"></p>
          <p class="description" data-start-navigation data-i18n="control_center_adblock_description_off_website" data-visible-on-state="off" data-visible="off_website"></p>
          <p class="description" data-start-navigation data-i18n="control_center_adblock_description_off_domain" data-visible-on-state="off" data-visible="off_domain"></p>
          <p class="description" data-start-navigation data-i18n="control_center_adblock_description_off_all" data-visible-on-state="off" data-visible="off_all"></p>
      </div>
    </div>
  </div>
  <div class="active-window-adblock">
    {{> active-ad-blocking }}
  </div>
</div>
{{/if}}
