<div class="lock"></div>
<header class="header">
  <div class="title">
    <span data-i18n="control-center-othersettings"></span>
    <span id="support">
        {{#if module.moncomp.visible }}
            <span data-target="moncomp" openUrl="moncomp">Moncomp</span>
        {{/if}}
        <span class="support-icon">
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="icon" fill="#6B6B6B">
                        <path d="M15.4,8 C15.4,3.91309285 12.0869071,0.6 8,0.6 C3.91309285,0.6 0.6,3.91309285 0.6,8 C0.6,12.0869071 3.91309285,15.4 8,15.4 C12.0869071,15.4 15.4,12.0869071 15.4,8 Z M1.4,8 C1.4,4.35492065 4.35492065,1.4 8,1.4 C11.6450793,1.4 14.6,4.35492065 14.6,8 C14.6,11.6450793 11.6450793,14.6 8,14.6 C4.35492065,14.6 1.4,11.6450793 1.4,8 Z" id="Oval"></path>
                        <path d="M12.5517857,8 C12.5517857,5.48611817 10.5138818,3.44821429 8,3.44821429 C5.48611817,3.44821429 3.44821429,5.48611817 3.44821429,8 C3.44821429,10.5138818 5.48611817,12.5517857 8,12.5517857 C10.5138818,12.5517857 12.5517857,10.5138818 12.5517857,8 Z M4.24821429,8 C4.24821429,5.92794597 5.92794597,4.24821429 8,4.24821429 C10.072054,4.24821429 11.7517857,5.92794597 11.7517857,8 C11.7517857,10.072054 10.072054,11.7517857 8,11.7517857 C5.92794597,11.7517857 4.24821429,10.072054 4.24821429,8 Z" id="Oval"></path>
                        <polygon id="Line" points="12.7973626 3.69761175 13.04485 3.45012437 12.5498752 2.95514964 12.3023879 3.20263701 10.7525124 4.75251251 10.5050251 4.99999989 10.9999998 5.49497463 11.2474872 5.24748725"></polygon>
                        <polygon id="Line-Copy" points="5.14557692 11.8493975 5.39306429 11.6019101 4.89808954 11.1069354 4.65060217 11.3544227 3.10072673 12.9042982 2.85323936 13.1517856 3.34821412 13.6467603 3.59570149 13.399273"></polygon>
                        <polygon id="Line" points="12.5230914 12.7437912 12.7705788 12.9912786 13.2655535 12.4963038 13.0180661 12.2488165 11.4681906 10.698941 11.2207032 10.4514536 10.7257285 10.9464284 10.9732159 11.1939158"></polygon>
                        <polygon id="Line-Copy" points="4.37130566 5.09200549 4.61879304 5.33949286 5.11376777 4.84451811 4.8662804 4.59703074 3.3164049 3.0471553 3.06891752 2.79966793 2.57394278 3.29464269 2.82143016 3.54213006"></polygon>
                    </g>
                </g>
              </svg>
          </span>
          <span data-i18n="control-center-support"
                openUrl="{{ feedbackURL }}"
                data-target="info_help">
          </span>
      </span>
  </div>
</header>
<div class="accordion">
  <div class="accordion-section">
    <a class="accordion-section-title"
       href="#accordion-1"
       data-target="quicksearch"
       data-disabled="{{searchDisabled}}">
      <svg id="arrow" width="13px" height="13px" viewBox="1017 657 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <polygon class="arrow" stroke="none" fill="#838383" fill-rule="evenodd" transform="translate(1023.344411, 663.208565) rotate(45.000000) translate(-1023.344411, -663.208565) " points="1018.95691 660.49484 1027.73191 658.821065 1026.05814 667.596065"></polygon>
      </svg>
      <span data-i18n="control-center-quicksearch"></span>
      {{#if searchDisabled}}
      <span class="enable-search" data-i18n="control-center-enable-search"></span>
      {{/if}}
    </a>
    <div id="accordion-1" class="accordion-section-content">
      {{#unless searchDisabled }}
      <span class="bullet">
        <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
            <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
            <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
              <tspan x="5.50934774" y="11.3937579">i</tspan>
            </text>
          </g>
        </svg>
        <div class="tooltip top share-location">
          <span class="title" data-i18n="control-center-info-share-location-title"></span>
          <span data-i18n="control-center-info-share-location"></span>
        </div>
        <span data-i18n="control-center-location"></span>
        <select class="custom-dropdown"
                updatePref="extensions.cliqz.share_location"
                data-target="search_location">
          {{#each module.geolocation.state}}
            <option {{#if selected }}selected{{/if}} value="{{ @key }}" >{{ name }}</option>
          {{/each}}
        </select>
        <span class="location-more" openUrl="https://cliqz.com/support/local-results" data-i18n="control-center-info-share-location-link"></span>
      </span>
      <span class="bullet">
        <span data-i18n="control-center-explicit"></span>
        <select class="custom-dropdown"
                updatePref="extensions.cliqz.adultContentFilter"
                data-target="search_adult">
          {{#each module.adult.state}}
            <option {{#if selected }}selected{{/if}} value="{{ @key }}" >{{ name }}</option>
          {{/each}}
        </select>
      </span>
      {{#if module.hpn.visible }}
      <span class="bullet"
            state="{{#if module.hpn.state}}active{{ else }}inactive{{/if}}"
            inactiveState="inactive">
        <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
            <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
            <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
              <tspan x="5.50934774" y="11.3937579">i</tspan>
            </text>
          </g>
        </svg>
        <div class="tooltip top proxy">
          <span class="title" data-i18n="control-center-info-hpn-title"></span>
          <span data-i18n="control-center-info-hpn"></span>
        </div>
        <span>
          <span class="cqz-switch-label"
                updatePref='extensions.cliqz.hpn-query'
                data-i18n="control-center-proxy"
                data-target="search_proxy">
          </span>
          <span class="switches-grey">
            <span class="cqz-switch-grey"
                  updatePref='extensions.cliqz.hpn-query'
                  data-target="search_proxy">
              <span class="cqz-switch-box-grey">
              </span>
            </span>
            <span class="cqz-switch-label" updatePref='extensions.cliqz.hpn-query' visible-on-state="active" data-i18n="control-center-switch-on"></span>
            <span class="cqz-switch-label" updatePref='extensions.cliqz.hpn-query' visible-on-state="inactive" data-i18n="control-center-switch-off"></span>
          </span>
        </span>
      </span>
      {{/if}}
    </div>
    {{/unless}}
  </div>
  <div class="accordion-section">
    <a class="accordion-section-title"
       href="#accordion-2"
       data-target="moresearch">
      <svg id="arrow" width="13px" height="13px" viewBox="1017 657 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <polygon id="Rectangle" stroke="none" fill="#838383" fill-rule="evenodd" transform="translate(1023.344411, 663.208565) rotate(45.000000) translate(-1023.344411, -663.208565) " points="1018.95691 660.49484 1027.73191 658.821065 1026.05814 667.596065"></polygon>
      </svg>
      <span data-i18n="control-center-searchoptions"></span>
    </a>
    <div id="accordion-2" class="accordion-section-content">
      {{#if module.autocomplete.visible}}
      <span class="bullet">
        <span data-i18n="control-center-search-engine"></span>
        <select complementarySearchChanger
                class="custom-dropdown"
                data-target="complementary_search">
          {{#each module.autocomplete.state}}
            <option {{#if default }}selected{{/if}} value="{{ name }}">[{{ prefix }}] {{ name }}</option>
          {{/each}}
        </select>
      </span>
      {{/if}}

      {{#if module.human-web.visible }}
        <span class="bullet"
              state="{{#if module.human-web.state}}active{{ else }}inactive{{/if}}"
              inactiveState="inactive">
          <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
              <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
              <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
                <tspan x="5.50934774" y="11.3937579">i</tspan>
              </text>
            </g>
          </svg>
          <div class="tooltip top">
            <span class="title" data-i18n="control-center-info-hw-title"></span>
            <span data-i18n="control-center-info-hw"></span>
          </div>
          <span class="cqz-switch-label"
                updatePref="extensions.cliqz.dnt"
                data-i18n="control-center-humanweb"
                data-target="search_humanweb">
          </span>
          <span class="switches-grey">
            <span class="cqz-switch-grey"
                  updatePref='extensions.cliqz.dnt'
                  data-target="search_humanweb">
              <span class="cqz-switch-box-grey"></span>
            </span>
            <span class="cqz-switch-label" updatePref="extensions.cliqz.dnt" visible-on-state="active" data-i18n="control-center-switch-on"></span>
            <span class="cqz-switch-label" updatePref="extensions.cliqz.dnt" visible-on-state="inactive" data-i18n="control-center-switch-off"></span>
          </span>
        </span>
      {{/if }}
      {{#unless searchDisabled }}
          <span class="bullet"
                {{#if amo}}
                    openUrl="https://cliqz.com/tips-firefox"
                {{else}}
                    openUrl="https://cliqz.com/tips"
                {{/if}}
                data-target="search_tips">
            <span data-i18n="control-center-best-cliqz"></span>
            <svg class="bulletarrow" width="9px" height="12px" viewBox="175 40 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <polyline id="Path-164-Copy-140" stroke="#7D7D7D" stroke-width="1.5999999" fill="none" opacity="0.554279384" points="176 41 181.896928 46.9067547 176.230646 52.5824794"></polyline>
            </svg>
          </span>
      {{/unless}}
      {{#if module.privacy-dashboard.visible }}
        <span class="bullet"
              openUrl="about:transparency"
              data-target="search_transparency">
          <span data-i18n="control-center-transparency"></span>
          <svg class="bulletarrow" width="9px" height="12px" viewBox="175 40 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <polyline id="Path-164-Copy-140" stroke="#7D7D7D" stroke-width="1.5999999" fill="none" opacity="0.554279384" points="176 41 181.896928 46.9067547 176.230646 52.5824794"></polyline>
          </svg>
        </span>
      {{/if}}
    </div>
  </div>
  <div class="accordion-section">
    <a class="accordion-section-title"
       href="#accordion-3"
       data-target="history">
      <svg id="arrow" width="13px" height="13px" viewBox="1017 657 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <polygon id="Rectangle-546-Copy-11" stroke="none" fill="#838383" fill-rule="evenodd" transform="translate(1023.344411, 663.208565) rotate(45.000000) translate(-1023.344411, -663.208565) " points="1018.95691 660.49484 1027.73191 658.821065 1026.05814 667.596065"></polygon>
      </svg>
      <span data-i18n="control-center-history-options"></span>
    </a>
    <div id="accordion-3" class="accordion-section-content">
      <span class="bullet"
            openUrl="history"
            data-target="history_showall">
        <span data-i18n="control-center-show-history"></span>
        <svg class="bulletarrow" width="9px" height="12px" viewBox="175 40 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <polyline id="Path-164-Copy-140" stroke="#7D7D7D" stroke-width="1.5999999" fill="none" opacity="0.554279384" points="176 41 181.896928 46.9067547 176.230646 52.5824794"></polyline>
        </svg>
      </span>
      <span class="bullet"
            openUrl="forget_history"
            data-target="history_forget">
        <span data-i18n="control-center-forget-history"></span>
        <svg class="bulletarrow" width="9px" height="12px" viewBox="175 40 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <polyline id="Path-164-Copy-140" stroke="#7D7D7D" stroke-width="1.5999999" fill="none" opacity="0.554279384" points="176 41 181.896928 46.9067547 176.230646 52.5824794"></polyline>
        </svg>
      </span>
      {{#if module.apt.visible}}
        <span class="bullet"
              state="{{#if module.apt.state}}active{{ else }}inactive{{/if}}"
              inactiveState="inactive">
          <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
              <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
              <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
                <tspan x="5.50934774" y="11.3937579">i</tspan>
              </text>
            </g>
          </svg>
          <div class="tooltip top forget-mode">
            <span class="title" data-i18n="control-center-info-forget-mode-title"></span>
            <span data-i18n="control-center-info-forget-mode"></span>
          </div>
          <span class="cqz-switch-label"
                data-i18n="control-center-forget-mode"
                updatePref='browser.privatebrowsing.apt'
                data-target="history_autoforget">
          </span>
          <span class="switches-grey">
            <span class="cqz-switch-grey"
                  updatePref='browser.privatebrowsing.apt'
                  data-target="history_autoforget">
              <span class="cqz-switch-box-grey"></span>
            </span>
          </span>
          <span class="cqz-switch-label" updatePref='browser.privatebrowsing.apt' visible-on-state="active" data-i18n="control-center-switch-on"></span>
          <span class="cqz-switch-label" updatePref='browser.privatebrowsing.apt' visible-on-state="inactive" data-i18n="control-center-switch-off"></span>
        </span>
      {{/if}}
    </div>
  </div>
</div>
