<div class="lock"></div>
{{#unless funnelCake }}
    <header class="header">
      <div class="title">
        <span data-i18n="control-center-othersettings"></span>
        {{> support }}
      </div>
    </header>
{{/unless}}
<div class="accordion">
  <div class="accordion-section">
    <a class="accordion-section-title {{#if funnelCake}}active{{/if}}"
       href="#accordion-2"
       data-target="moresearch">
      <svg id="arrow" width="13px" height="13px" viewBox="1017 657 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <polygon id="Rectangle" stroke="none" fill="#838383" fill-rule="evenodd" transform="translate(1023.344411, 663.208565) rotate(45.000000) translate(-1023.344411, -663.208565) " points="1018.95691 660.49484 1027.73191 658.821065 1026.05814 667.596065"></polygon>
      </svg>
      <span data-i18n="control-center-searchoptions"></span>
    </a>
    {{#if funnelCake }}
        <header class="header no-border">
          <div class="search-settings-title">
            <span data-i18n="control-center-searchoptions"></span>
          </div>
        </header>
    {{/if}}
    <div id="accordion-2" class="accordion-section-content {{#if funnelCake}}open{{/if}}">
      {{#if module.autocomplete.visible}}
      <span class="bullet">
        <span data-i18n="control-center-search-engine"></span>
        <select role="complementarySearchChanger"
                class="custom-dropdown"
                data-target="complementary_search">
          {{#each module.autocomplete.state}}
            <option {{#if default }}selected{{/if}} value="{{ name }}">
            {{#if alias }}[{{ alias }}] {{/if}}
            {{ name }}</option>
          {{/each}}
        </select>
      </span>
      {{/if}}

      <span class="bullet">
        <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
            <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
            <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
              <tspan x="5.50934774" y="11.3937579">i</tspan>
            </text>
          </g>
        </svg>
        <div class="tooltip explicit right">
          <span class="title" data-i18n="control-center-info-explicit-title"></span>
          <span data-i18n="control-center-info-explicit"></span>
        </div>
        <span data-i18n="control-center-explicit"></span>

        <select class="custom-dropdown"
                data-update-pref="extensions.cliqz.adultContentFilter"
                data-target="search_adult">
          {{#each module.adult.state}}
            <option {{#if selected }}selected{{/if}} value="{{ @key }}" >{{ name }}</option>
          {{/each}}
        </select>

      </span>

      {{# if module.geolocation.visible }}
      <span class="bullet">
        <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
            <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
            <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
              <tspan x="5.50934774" y="11.3937579">i</tspan>
            </text>
          </g>
        </svg>
        <div class="tooltip share-location right">
          <span class="title" data-i18n="control-center-info-share-location-title"></span>
          <span data-i18n="control-center-info-share-location"></span>
        </div>
        <span data-i18n="control-center-location"></span>


        <select class="custom-dropdown"
                data-update-pref="extensions.cliqz.share_location"
                data-target="search_location">
          {{#each module.geolocation.state}}
            <option {{#if selected }}selected{{/if}} value="{{ @key }}" >{{ name }}</option>
          {{/each}}
        </select>

        {{#unless funnelCake}}
          <span class="location-more" data-open-url="https://cliqz.com/support/local-results" data-i18n="control-center-info-share-location-link"></span>
        {{/unless}}
      </span>
      {{/if}}

      {{#if module.autocomplete.visible}}
      <span class="bullet">
        <span data-i18n="control-center-backend-country"></span>
        <select role="searchIndexCountryChanger"
                class="custom-dropdown"
                data-target="search-index-country">
          {{#each module.autocomplete.supportedIndexCountries}}
            <option {{#if selected }}selected{{/if}} value="{{ @key }}">
               {{ name }}
            </option>
          {{/each}}
        </select>
      </span>
      {{/if}}

      {{#if module.hpn.visible }}
      <span class="bullet"
            data-status="{{#if module.hpn.state}}active{{ else }}inactive{{/if}}"
            data-inactiveState="inactive">
        <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
            <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
            <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
              <tspan x="5.50934774" y="11.3937579">i</tspan>
            </text>
          </g>
        </svg>
        <div class="tooltip right proxy">
          <span class="title" data-i18n="control-center-info-hpn-title"></span>
          <span data-i18n="control-center-info-hpn"></span>
        </div>
        <span>
          <span class="cqz-switch-label"
                data-i18n="control-center-proxy">
          </span>
          <select class="custom-dropdown"
                  data-update-pref="extensions.cliqz.hpn-query"
                  data-update-pref-type="boolean"
                  data-target="search_proxy">
                <option {{#if module.searchProxy.enabled}}selected{{/if}} value="true" data-i18n="control-center-enabled"></option>
                <option {{#unless module.searchProxy.enabled}}selected{{/unless}} value="false" data-i18n="control-center-disabled"></option>
          </select>
        </span>
      </span>
      {{/if}}

      {{#if module.type-filter}}
          {{#if module.type-filter.visible }}
            <span class="bullet">
            <span class="cliqz-tab">
              <span class="squaredFour">
                <input type="checkbox"
                       id="squaredFour6"
                       name="check"
                       data-function="type-filter"
                       data-target="type1"
                       {{#if module.type-filter.type1 }}checked{{/if}}
                />
                <label for="squaredFour6"></label>
                <span id="strict">Type 1</span>
              </span>
            </span>
            <span class="cliqz-tab">
              <span class="squaredFour">
                <input type="checkbox"
                       id="squaredFour7"
                       name="check"
                       data-function="type-filter"
                       data-target="type2"
                       {{#if module.type-filter.type2 }}checked{{/if}}
                />
                <label for="squaredFour7"></label>
                <span id="strict">Type 2</span>
              </span>
            </span>
            <span class="cliqz-tab">
              <span class="squaredFour">
                <input type="checkbox"
                       id="squaredFour8"
                       name="check"
                       data-function="type-filter"
                       data-target="type3"
                       {{#if module.type-filter.type3 }}checked{{/if}}
                />
                <label for="squaredFour8"></label>
                <span id="strict">Type 3</span>
              </span>
            </span>
          </span>
          {{/if}}
      {{/if}}
      {{#if module.human-web.visible }}
        <span class="bullet human-web"
              data-status="{{#if module.human-web.state}}active{{ else }}inactive{{/if}}"
              data-inactiveState="inactive">
          <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
              <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
              <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
                <tspan x="5.50934774" y="11.3937579">i</tspan>
              </text>
            </g>
          </svg>
          <div class="tooltip right human-web">
            <span class="title" data-i18n="control-center-info-hw-title"></span>
            <span data-i18n="control-center-info-hw"></span>
          </div>
          <span class="cqz-switch-label"
                data-i18n="control-center-humanweb">
          </span>
          <select class="custom-dropdown"
                  data-update-pref="extensions.cliqz.humanWebOptOut"
                  data-target="search_humanweb">
                <option {{#unless module.humanWebOptOut}}selected{{/unless}} value="enabled" data-i18n="control-center-enabled"></option>
                <option {{#if module.humanWebOptOut}}selected{{/if}} value="disabled" data-i18n="control-center-disabled"></option>
          </select>
        </span>
      {{/if }}

      {{#if module.privacy-dashboard.visible }}
        <span class="bullet">
          <span data-i18n="control-center-transparency"></span>
          <button
            data-open-url="about:transparency"
            data-target="search_transparency"
            data-i18n="control-center-open">
          </button>
          <svg class="bulletarrow" width="9px" height="12px" viewBox="175 40 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <polyline id="Path-164-Copy-140" stroke="#7D7D7D" stroke-width="1.5999999" fill="none" opacity="0.554279384" points="176 41 181.896928 46.9067547 176.230646 52.5824794"></polyline>
          </svg>
        </span>
      {{/if}}
    </div>
  </div>
  {{#if showHistorySettings}}
  <div class="accordion-section">
    <a class="accordion-section-title"
       href="#accordion-3"
       data-target="history">
      <svg id="arrow" width="13px" height="13px" viewBox="1017 657 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <polygon id="Rectangle-546-Copy-11" stroke="none" fill="#838383" fill-rule="evenodd" transform="translate(1023.344411, 663.208565) rotate(45.000000) translate(-1023.344411, -663.208565) " points="1018.95691 660.49484 1027.73191 658.821065 1026.05814 667.596065"></polygon>
      </svg>
      <span data-i18n="control-center-history-options"></span>
    </a>
    <div id="accordion-3" class="accordion-section-content">
      <span class="bullet">
        <span data-i18n="control-center-show-history"></span>
        <button
            data-open-url="history"
            data-target="history_showall"
            data-i18n="control-center-open">
        </button>
        <svg class="bulletarrow" width="9px" height="12px" viewBox="175 40 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <polyline id="Path-164-Copy-140" stroke="#7D7D7D" stroke-width="1.5999999" fill="none" opacity="0.554279384" points="176 41 181.896928 46.9067547 176.230646 52.5824794"></polyline>
        </svg>
      </span>
      <span class="bullet">
        <span data-i18n="control-center-forget-history"></span>
        <button
            data-open-url="forget_history"
            data-target="history_forget"
            data-i18n="control-center-open">
        </button>
        <svg class="bulletarrow" width="9px" height="12px" viewBox="175 40 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <polyline id="Path-164-Copy-140" stroke="#7D7D7D" stroke-width="1.5999999" fill="none" opacity="0.554279384" points="176 41 181.896928 46.9067547 176.230646 52.5824794"></polyline>
        </svg>
      </span>
      {{#if module.apt.visible}}
        <span class="bullet"
              data-status="{{#if module.apt.state}}active{{ else }}inactive{{/if}}"
              data-inactiveState="inactive">
          <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
              <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
              <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
                <tspan x="5.50934774" y="11.3937579">i</tspan>
              </text>
            </g>
          </svg>
          <div class="tooltip right forget-mode">
            <span class="title" data-i18n="control-center-info-forget-mode-title"></span>
            <span data-i18n="control-center-info-forget-mode"></span>
          </div>
          <span class="cqz-switch-label"
                data-i18n="control-center-forget-mode">
          </span>
          <select class="custom-dropdown"
                  data-update-pref='browser.privatebrowsing.apt'
                  data-update-pref-type="boolean"
                  data-target="history_autoforget">
                <option {{#if module.apt.state}}selected{{/if}} value="true" data-i18n="control-center-enabled"></option>
                <option {{#unless module.apt.state}}selected{{/unless}} value="false" data-i18n="control-center-disabled"></option>
          </select>
        </span>
      {{/if}}
    </div>
  </div>
  {{/if}}
    {{#if module.offers-v2.visible}}
    <!-- offrz menu -->
    <div class="accordion-section">
      <a class="accordion-section-title"
         href="#accordion-4"
         data-target="offerz">
        <svg id="arrow" width="13px" height="13px" viewBox="1017 657 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <polygon id="Rectangle-546-Copy-11" stroke="none" fill="#838383" fill-rule="evenodd" transform="translate(1023.344411, 663.208565) rotate(45.000000) translate(-1023.344411, -663.208565) " points="1018.95691 660.49484 1027.73191 658.821065 1026.05814 667.596065"></polygon>
        </svg>
        <span data-i18n="control-center-offers-options"></span>
      </a>
      <div id="accordion-4" class="accordion-section-content">
        <span class="bullet">
          <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
            <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
            <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
              <tspan x="5.50934774" y="11.3937579">i</tspan>
            </text>
          </g>
          </svg>
          <div class="tooltip offers-main right">
            <span class="title" data-i18n="control-center-offers-show"></span>
            <span data-i18n="control-center-offers-show-info"></span>
          </div>
          <span data-i18n="control-center-offers-show"></span>
          <span class="location-more"
                data-open-url="https://cliqz.com/myoffrz"
                data-target="offerz_main_learn_more"
                data-i18n="control-center-info-share-location-link">
          </span>
          <select class="custom-dropdown"
                  data-update-pref="extensions.cliqz.offers2UserEnabled"
                  data-update-pref-type="boolean"
                  data-target="offerz_main">
                <option {{#if module.offers-v2.userEnabled}}selected{{/if}} value="true" data-i18n="control-center-enabled"></option>
                <option {{#unless module.offers-v2.userEnabled}}selected{{/unless}} value="false" data-i18n="control-center-disabled"></option>
          </select>
        </span>
        <span class="bullet">
          <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
            <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
            <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
              <tspan x="5.50934774" y="11.3937579">i</tspan>
            </text>
          </g>
          </svg>
          <div class="tooltip offers-location right">
            <span class="title" data-i18n="control-center-offers-location"></span>
            <span data-i18n="control-center-offers-location-info"></span>
          </div>
          <span data-i18n="control-center-offers-location"></span>
          <select class="custom-dropdown"
                  data-update-pref="extensions.cliqz.offers_location"
                  data-update-pref-type="integer"
                  data-target="offerz_location">
                <option {{#if module.offers-v2.locationEnabled}}selected{{/if}} value="1" data-i18n="control-center-enabled"></option>
                <option {{#unless module.offers-v2.locationEnabled}}selected{{/unless}} value="0" data-i18n="control-center-disabled"></option>
          </select>
        </span>
      </div>
    </div>
    <!-- end offerz -->
    {{/if}}
</div>
