<div class="lock"></div>
{{#unless compactView }}
    <header class="header">
      <div class="title">
        <span data-i18n="control_center_othersettings"></span>
        {{> support }}
      </div>
    </header>
{{/unless}}
<div class="accordion">
  <div class="accordion-section">
    <a class="accordion-section-title {{#if compactView}}active{{/if}}"
       href="#accordion-2"
       data-target="moresearch">
      <svg id="arrow" width="13px" height="13px" viewBox="1017 657 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <polygon id="Rectangle" stroke="none" fill="#838383" fill-rule="evenodd" transform="translate(1023.344411, 663.208565) rotate(45.000000) translate(-1023.344411, -663.208565) " points="1018.95691 660.49484 1027.73191 658.821065 1026.05814 667.596065"></polygon>
      </svg>
      <span data-i18n="control_center_searchoptions"></span>
    </a>
    {{#if compactView }}
        <header class="header no-border">
          <div class="search-settings-title">
            <span data-i18n="control_center_searchoptions"></span>
            {{#if ghostery}}
                {{> support }}
            {{/if}}
          </div>
        </header>
    {{/if}}
    <div id="accordion-2" class="accordion-section-content {{#if compactView}}open{{/if}}">
      {{#if module.search.visible}}
      <span class="bullet">
        <span data-i18n="control_center_search_engine" class="no-tooltip-label"></span>
        <select role="complementarySearchChanger"
                class="custom-dropdown"
                data-target="complementary_search">
          {{#each module.search.state}}
            <option {{#if default }}selected{{/if}} value="{{ name }}">
            {{#if alias }}[{{ alias }}] {{/if}}
            {{ name }}</option>
          {{/each}}
        </select>
      </span>
      {{/if}}

      {{#if module.human-web.visible }}
        <span class="bullet human-web"
              data-status="{{#if module.human-web.state}}active{{ else }}inactive{{/if}}"
              data-inactiveState="inactive">
          <div id="human-web-tooltip" class="tooltip-content">
            <span class="title" data-i18n="control_center_info_hw_title"></span>
            <span data-i18n="control_center_info_hw"></span>
          </div>
          <span class="cqz-switch-label cc-tooltip"
                data-tooltip-content="#human-web-tooltip"
                data-i18n="control_center_humanweb">
          </span>
          <select class="custom-dropdown"
                  data-update-pref="extensions.cliqz.humanWebOptOut"
                  data-target="search_humanweb">
                <option {{#unless module.humanWebOptOut}}selected{{/unless}} value="enabled" data-i18n="control_center_enabled"></option>
                <option {{#if module.humanWebOptOut}}selected{{/if}} value="disabled" data-i18n="control_center_disabled"></option>
          </select>
        </span>
      {{/if }}

      {{#if ghostery }}
        <span class="bullet {{#unless module.search.quickSearchEnabled}}disabled{{/unless}}">
          <span>
            <span class="cqz-switch-label no-tooltip-label">
              <span class="title" data-i18n="control_center_quicksearch"></span>
            </span>
            <select role="quickSearchStateChanger"
                    class="custom-dropdown"
                    data-target="quick-search-state">
              <option {{#if module.search.quickSearchEnabled}}selected{{/if}} value="true" data-i18n="control_center_enabled"></option>
              <option {{#unless module.search.quickSearchEnabled}}selected{{/unless}} value="false" data-i18n="control_center_disabled"></option>
            </select>
          </span>
        </span>
      {{/if}}

      {{#if module.search.visible}}
      <span class="bullet">
        <span data-i18n="control_center_backend_country" class="no-tooltip-label"></span>
        <select role="searchIndexCountryChanger"
                class="custom-dropdown"
                data-target="search-index-country">
          {{#each module.search.supportedIndexCountries}}
            <option {{#if selected }}selected{{/if}} value="{{ @key }}">
               {{ name }}
            </option>
          {{/each}}
        </select>
      </span>
      {{/if}}

      <span class="bullet">
        <div id="explicit-tooltip" class="tooltip-content">
          <span class="title" data-i18n="control_center_info_explicit_title"></span>
          <span data-i18n="control_center_info_explicit"></span>
        </div>
        <span class="cc-tooltip" data-tooltip-content="#explicit-tooltip" data-i18n="control_center_explicit"></span>

        <select class="custom-dropdown"
                data-update-pref="extensions.cliqz.adultContentFilter"
                data-target="search_adult">
          {{#each module.adult.state}}
            <option {{#if selected }}selected{{/if}} value="{{ @key }}" >{{ name }}</option>
          {{/each}}
        </select>

      </span>

      {{#if module.type-filter}}
          {{#if module.type-filter.visible }}
            <span class="bullet">
            <span class="cliqz-tab">
              <span class="squaredFour">
                <input type="checkbox"
                       id="squaredFour6"
                       name="check"
                       data-function="type-filter"
                       data-target="type1"
                       {{#if module.type-filter.type1 }}checked{{/if}}
                />
                <label for="squaredFour6"></label>
                <span id="strict">Type 1</span>
              </span>
            </span>
            <span class="cliqz-tab">
              <span class="squaredFour">
                <input type="checkbox"
                       id="squaredFour7"
                       name="check"
                       data-function="type-filter"
                       data-target="type2"
                       {{#if module.type-filter.type2 }}checked{{/if}}
                />
                <label for="squaredFour7"></label>
                <span id="strict">Type 2</span>
              </span>
            </span>
            <span class="cliqz-tab">
              <span class="squaredFour">
                <input type="checkbox"
                       id="squaredFour8"
                       name="check"
                       data-function="type-filter"
                       data-target="type3"
                       {{#if module.type-filter.type3 }}checked{{/if}}
                />
                <label for="squaredFour8"></label>
                <span id="strict">Type 3</span>
              </span>
            </span>
          </span>
          {{/if}}
      {{/if}}

      {{# if module.geolocation.visible }}
      <span class="bullet">
        <div id="share-location-tooltip" class="tooltip-content">
          <span class="title" data-i18n="control_center_info_share_location_title"></span>
          <span data-i18n="control_center_info_share_location"></span>
        </div>
        <span class="cc-tooltip" data-tooltip-content="#share-location-tooltip" data-i18n="control_center_location"></span>


        <select class="custom-dropdown"
                data-update-pref="extensions.cliqz.share_location"
                data-target="search_location">
          {{#each module.geolocation.state}}
            <option {{#if selected }}selected{{/if}} value="{{ @key }}" >{{ name }}</option>
          {{/each}}
        </select>

        {{#if showLearnMore}}
        <span class="location-more" data-open-url="{{ locationSharingURL }}" data-i18n="control_center_info_share_location_link"></span>
        {{/if}}
      </span>
      {{/if}}

      {{#if module.hpnv2.visible }}
      <span class="bullet"
            data-status="{{#if module.hpnv2.state}}active{{ else }}inactive{{/if}}"
            data-inactiveState="inactive">
        <div id="proxy-tooltip" class="tooltip-content">
          <span class="title" data-i18n="control_center_info_hpn_title"></span>
          <span data-i18n="control_center_info_hpn"></span>
        </div>
        <span class="cqz-switch-label cc-tooltip"
            data-tooltip-content="#proxy-tooltip"
            data-i18n="control_center_proxy">
        </span>
        <select class="custom-dropdown"
              data-update-pref="extensions.cliqz.hpn-query"
              data-update-pref-type="boolean"
              data-target="search_proxy">
            <option {{#if module.searchProxy.enabled}}selected{{/if}} value="true" data-i18n="control_center_enabled"></option>
            <option {{#unless module.searchProxy.enabled}}selected{{/unless}} value="false" data-i18n="control_center_disabled"></option>
        </select>
      </span>
      {{/if}}

      {{#if module.privacy-dashboard.visible }}
        <span class="bullet">
          <span class="no-tooltip-label" data-i18n="control_center_transparency"></span>
          <button
            data-open-url="{{ module.privacy-dashboard.url }}"
            data-target="search_transparency"
            data-i18n="control_center_open">
          </button>
          <svg class="bulletarrow" width="9px" height="12px" viewBox="175 40 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <polyline id="Path-164-Copy-140" stroke="#7D7D7D" stroke-width="1.5999999" fill="none" opacity="0.554279384" points="176 41 181.896928 46.9067547 176.230646 52.5824794"></polyline>
          </svg>
        </span>
      {{/if}}
      {{#unless isDesktopBrowser}}
       <span class="bullet">
          <div id="telemetry-tooltip" class="tooltip-content">
            <span class="title" data-i18n="control_center_telemetry"></span>
            <span data-i18n="control_center_telemetry_info"></span>
          </div>
        <span class="cc-tooltip" data-tooltip-content="#telemetry-tooltip" data-i18n="control_center_telemetry"></span>
        <select class="custom-dropdown"
                data-update-pref="extensions.cliqz.telemetry"
                data-update-pref-type="boolean"
                data-target="telemetry">
              <option {{#if telemetry}}selected{{/if}} value="true" data-i18n="control_center_enabled"></option>
              <option {{#unless telemetry}}selected{{/unless}} value="false" data-i18n="control_center_disabled"></option>
        </select>
      </span>
      {{/unless}}
    </div>
  </div>
  {{#if module.offers-v2.visible}}
  <!-- offrz menu -->
    <div class="accordion-section">
      <a class="accordion-section-title"
         href="#accordion-4"
         data-target="offerz">
        <svg id="arrow" width="13px" height="13px" viewBox="1017 657 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <polygon id="Rectangle-546-Copy-11" stroke="none" fill="#838383" fill-rule="evenodd" transform="translate(1023.344411, 663.208565) rotate(45.000000) translate(-1023.344411, -663.208565) " points="1018.95691 660.49484 1027.73191 658.821065 1026.05814 667.596065"></polygon>
        </svg>
        <span data-i18n="control_center_offers_options"></span>
      </a>
      <div id="accordion-4" class="accordion-section-content">
        <span class="bullet">
          <div id="offers-main-tooltip" class="tooltip-content">
            <span class="title" data-i18n="control_center_offers_show"></span>
            <span data-i18n="control_center_offers_show_info"></span>
          </div>
          <span class="cc-tooltip" data-tooltip-content="#offers-main-tooltip" data-i18n="control_center_offers_show"></span>
          <span class="location-more"
                data-open-url="{{ myoffrzURL }}"
                data-target="offerz_main_learn_more"
                data-i18n="control_center_info_share_location_link">
          </span>
          <select class="custom-dropdown"
                  data-update-pref="extensions.cliqz.offers2UserEnabled"
                  data-update-pref-type="boolean"
                  data-target="offerz_main">
                <option {{#if module.offers-v2.userEnabled}}selected{{/if}} value="true" data-i18n="control_center_enabled"></option>
                <option {{#unless module.offers-v2.userEnabled}}selected{{/unless}} value="false" data-i18n="control_center_disabled"></option>
          </select>
        </span>
        <span class="bullet">
          <div id="offers-location-tooltip" class="tooltip-content">
            <span class="title" data-i18n="control_center_offers_location"></span>
            <span data-i18n="control_center_offers_location_info"></span>
          </div>
          <span class="cc-tooltip" data-tooltip-content="#offers-location-tooltip" data-i18n="control_center_offers_location"></span>
          <select class="custom-dropdown"
                  data-update-pref="extensions.cliqz.offers_location"
                  data-update-pref-type="integer"
                  data-target="offerz_location">
                <option {{#if module.offers-v2.locationEnabled}}selected{{/if}} value="1" data-i18n="control_center_enabled"></option>
                <option {{#unless module.offers-v2.locationEnabled}}selected{{/unless}} value="0" data-i18n="control_center_disabled"></option>
          </select>
        </span>
      </div>
    </div>
  <!-- end offerz -->
  {{/if}}
</div>
