<span class='provider' style="background-color: #{{kindColor provider}}" >{{provider}}</span>
{{#each results}}
  <div class='result' title='{{json @this}}'>
    <div class='ellipsis'>
      {{@index}} | {{links.[0].title}}
    </div>
    <div class='ellipsis url'>
      {{links.[0].url}}
    </div>
    <div class='ellipsis description' title='{{links.[0].description}}'>
      {{desc links.[0].description}}
    </div>
    <div class='ellipsis'>
      {{links.[0].type}} | {{links.[0].template}}
    </div>
  </div>
{{/each}}

