<span class='provider'>final</span>
{{#each @this}}
  <div class='result' title='{{json @this}}'>
    <div class='ellipsis'>
      {{@index}} | {{title}}
    </div>
    <div class='ellipsis url' title='{{url}}'>
      {{url}}
    </div>
    <div class='ellipsis description' title='{{description}}'>
      {{desc description}}
    </div>
    <div class='ellipsis'>
      <span title='provider'>{{provider}}</span>
      |
      <span title='type'>{{type}}</span>
    </div>
    <div title={{parseKind kind}}>
      {{#each (parseKind kind)}}
        <span class='kind' title='{{json this}}' style="background-color: #{{color}}"></span>
      {{/each}}
    </div>

    {{#each data.urls}}
      <div class='result' title='{{json @this}}'>
        <div class='ellipsis'>
          {{@index}} | {{title}}
        </div>
        <div class='ellipsis url' title='{{url}}'>
          {{url}}
        </div>
        <div class='ellipsis description' title='{{description}}'>
          {{desc description}}
        </div>
        <div class='ellipsis'>
          <span title='provider'>{{provider}}</span>
          |
          <span title='type'>{{type}}</span>
        </div>
        <div title={{parseKind kind}}>
          {{#each (parseKind kind)}}
            <span class='kind' title='{{json this}}' style="background-color: #{{color}}"></span>
          {{/each}}
        </div>
      </div>
      {{/each}}
  </div>
{{/each}}

