<section id="filters">
  <h1>{{t 'history.tab-title'}} <span style="font-style: italic; color: #43bdd9; font-family: Times serif;">β</span></h1>
  <menu type="toolbar" id="time-selector">
    <span {{action "sendTelemetry" 'all'}}>
      {{#link-to "freshtab.history.index" (query-params query=query from=undefined to=undefined) tagName="button"}}{{t 'history.day-selection-all'}}{{/link-to}}
    </span>
    <span {{action "sendTelemetry" 'today'}}>
      {{#link-to "freshtab.history.index" (query-params query=query from=timestamps.today.from to=timestamps.today.to) tagName="button"}}{{t 'history.day-selection-today'}}{{/link-to}}
    </span>
    <span {{action "sendTelemetry" 'yesterday'}}>
      {{#link-to "freshtab.history.index" (query-params query=query from=timestamps.yesterday.from to=timestamps.yesterday.to) tagName="button"}}{{t 'history.day-selection-yesterday'}}{{/link-to}}
    </span>
    <span {{action "sendTelemetry" 'past_week'}}>
      {{#link-to "freshtab.history.index" (query-params query=query from=timestamps.lastWeek.from to=timestamps.lastWeek.to) tagName="button"}}{{t 'history.day-selection-pastweek'}}{{/link-to}}
    </span>
  </menu>
  <div id="feedback">
    {{history-feedback}}
  </div>
</section>

<section id="search">
  <header>
    {{search-form model=query debounce=200}}
    <button class="clear-history-btn" {{action "delete"}}>{{t 'history.btn-clear-all-label'}}</button>
  </header>

  {{history-sessions model=model query=query}}
</section>
