<header>
    <a id="back" href="{{serpUrl}}">
        &laquo; go back search page
    </a>
    <button id="close">
        &Chi;
    </button>
</header>
<ul>
    {{#each results}}
        <li>
            <a href="{{url}}">
                <span class="indicator">
                    &raquo;
                </span>
                {{title}}
            </a>
            <span class="url">
                {{url}}
            </span>
            <span class="description">
                {{description}}
            </span>
        </li>
    {{/each}}
</ul>
