<a class="result" href="{{ url }}">
    {{> partials/logo}}
    {{> partials/abstract}}
</a>

{{> partials/buttons}}

{{#if subResult}}
    <a class="result soccer-title" href="{{subResult.url}}">
        <span class="padded">{{subResult.title}}</span>
        <span class="soccer-domain divider">—</span>
        <span class="soccer-domain">{{ local 'soccer-api-provider' }}</span>
    </a>
{{/if}}
<div class="padded">
    <div class="soccer">
        <div class="wrapper dropdown-tabs">
            <div class="background-placeholder"></div>
            {{#each liveTicker}}
                <input class="tab-radio-input" type="radio" name="tabs" id="tab-{{@index}}" {{#if isCurrent}}checked="checked"{{/if}}/>
                <label class="dropdown-tab-label" for="tab-{{@index}}" onclick="(function(e) {
                document.getElementById('tab-{{@index}}').checked = 'checked';
                e.preventDefault(); e.stopPropagation(); })(event)">{{round}}</label>
            {{/each}}
            {{#each liveTicker}}
                <div id="tab-block-{{@index}}"
                     class="tab-block"
                >
                    <div class="table">
                        {{#each (take allResults ../itemsLimit) }}
                            {{> partials/ticker}}
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div>
            {{#if expandButton.show}}
                <a class="result expand-btn" href="{{expandButton.url}}">
                    {{local expandButton.title}}
                </a>
            {{/if}}

            <a class="result powered-by" href="{{poweredByResult.url}}">
                {{local poweredByResult.title}}
            </a>

        </div>
        {{> partials/news-injection}}
    </div>
</div>
