<a class="result" href="{{ url }}">
    {{> partials/logo}}
    {{> partials/abstract}}
</a>

{{> partials/buttons}}

{{#if this.subResult}}
    <a class="result soccer-title" href="{{this.subResult.url}}">
        <span class="padded">{{this.subResult.title}}</span>
        <span class="soccer-domain divider">—</span>
        <span class="soccer-domain">{{ local 'soccer-api-provider' }}</span>
    </a>
{{/if}}
<div class="soccer padded">
    <div class="wrapper" style="position: relative">
        <div class="background-placeholder"></div>
        {{#each liveTicker}}
            <input type="radio" name="tabs" id="tab-{{@index}}" {{#if this.isCurrent}}checked="checked"{{/if}}/>
            <label for="tab-{{@index}}">{{ local 'soccer-ticker-week' }} {{this.round}}</label>
        {{/each}}
        {{#each liveTicker}}
            <div id="tab-block-{{@index}}"
                 class="tab-block"
            >
                <div class="table">
                    {{#each this.allResults}}
                        {{> partials/ticker}}
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
    <p class="powered-by">{{ local 'soccer-powered-by' }}</p>
</div>
