<ul id="download-links">
    {{#each formats}}
    <li>
        <input
            id="radio-item-{{@index}}"
            type="radio"
            name="download"
            data-href="{{url}}"
            data-format="{{name}}"
            data-size="{{size}}"
            {{#if selected}}checked="checked"{{/if}}
            data-origin="{{../origin}}"
            data-title="{{title}}"
            data-type="{{format}}"
            value="{{title}}.{{format}}"
        >
            <label class="{{class}}" for="radio-item-{{@index}}">
                {{name}} <span class="video-size">{{size}}</span>
            </label>
        </p>
    </li>
    {{/each}}
</ul>
