<div class="result instant currency" >
    <div class="header padded">
        <p class="title">
            <span>={{toSymbol}}{{toAmount}}</span>
        </p>
        <p class="subtitle">
            <span>
                {{multiplyer}} {{fromCurrency}} = {{conversionRate}} {{toCurrency}} {{local 'no_legal_disclaimer'}}
                &#183; {{> partials/source}}
            </span>
        </p>
    </div>
</div>
