<a class="result instant" href="{{ url }}">
    <div class="header">
        {{> partials/logo}}
        <div class="abstract">
            <div>
                <p class="title">
                    <span>{{fromAmount}} {{fromCurrency}} = {{toAmount}} {{toCurrency}}</span>
                </p>
                <p class="subtitle">
                    <span>{{multiplyer}} {{fromCurrency}} = {{conversionRate}} {{toCurrency}} {{local 'no_legal_disclaimer'}}</span>
                </p>
            </div>
        </div>
    </div>
</a>
