<div class="dialing-code padded">
    <p>
        <img class="dial-phone-icon" src="{{ phoneIcon }}" alt=""/>
        <span class="dial-code">+{{ dialingCode }}</span>
        <img class="country-flag" src="{{ countryFlag }}" alt=""/>
        <span class="dial-country-name">{{ countryName }}</span>
    </p>
    <p class="dial-code-label">{{ local 'dialing_code_label' }} 00{{ dialingCode }}</p>
</div>
