<div class='result instant flight'>
  <div class="padded">
    <div class="header">
      <span class="title">{{name}}</span>
    </div>
    <div class="flight-details white-background" data-status="{{flightStatus}}">

      <div class="flight-status">
        <span class="flight-status-text">{{status}}</span>
        {{#if statusDetail}}
          <span class="flight-status-detail"> &#183; {{statusDetail}}</span>
        {{/if}}
      </div>

      <div class="flight-flex-container">
        <div class="depart-city-flight-progress-container">
            <span class="depart-city">
                    {{departure.locationShortcut}}
            </span>
            <div class="flight-progress-container">

            <div class="flight-progress">
                <div class="flight-progress-bar" style="left:{{ planePosition }}%"></div>
            </div>
            </div>
        </div>


        <span class="arrival-city {{#if arrival.actualLocation}} strike-through {{/if}}">
          {{arrival.locationShortcut}}
        </span>
        &#160;
        <span class="actual-arrival-city">
          {{arrival.actualLocation}}
        </span>
      </div>

      <div class="depart-arrival">
        <div class="depart">
          <div class="depart-location">
             {{departure.locationName}}
             {{#if showDepartureScheduledTime}}
              <span
                class="estimate-depart-time bold {{#if departure.actualTime}} strike-through {{/if}}"
              >
                {{departure.scheduledTime}}
              </span>
            {{/if}}

            <span class="depart-time
                  {{#if earlyDeparture}} early
                  {{else if lateDeparture}} late
                  {{/if}}"
            >
              {{departure.actualTime}}
            </span>

            <span class="time-zone">{{ departure.GMT }} </span>

          </div>

          <div>{{departure.estimateActualDate}} </div>
          <div class="bold">
            {{departure.terminal}} &#183; {{departure.gate}}
          </div>
        </div>

        <div class="arrival">
          <div class="arrival-location">
            {{arrival.locationName}}
              {{#if showArrivalScheduledTime}}
                <span
                  class="estimate-arrival-time bold {{#if arrival.actualTime}} strike-through {{/if}}"
                >
                  {{arrival.scheduledTime}}
                </span>
              {{/if}}
              <span class="arrival-time
                    {{#if earlyArrival}} early
                    {{else if lateArrival}} late
                    {{/if}}"
              >
                {{arrival.actualTime}}
              </span>
              <span class="time-zone">{{ arrival.GMT }}</span>
          </div>
          <div>{{arrival.estimateActualDate}} </div>
          <div class="bold">
            {{arrival.terminal}} &#183; {{arrival.gate}}
          </div>
        </div>
      </div>
      <p class="subtitle flight-timestamp">
          <span class="flight-timestamp-label">
              {{> partials/source}}
              {{#if updated}}
                  &#183; {{> partials/timestamp}}
              {{/if}}
          </span>
      </p>
    </div>
  </div>
</div>
