<div class='retirement'>
  <a class='close result' data-url='{{closeButton.url}}' ></a>
  <div class='headline'>
    {{ headline }}
  </div>
  <div class='content'>
    <div class='text'>
      <a class='result' data-url='{{ moreButton.url }}'>
        {{ local "retirement.more"}}
      </a>
      {{ local "retirement.content"}}
    </div>
    <span class='action'>
      <a class='result learnmore' data-url='{{ url }}'>
        {{ local "retirement.action"}}
      </a>
      <a class='result close4ever' data-url='{{ close4Ever.url }}'>
        {{ local "retirement.action2"}}
      </a>
    </span>
  </div>
</div>
