<div class='retirement'>
  <a class='close result' data-url='{{closeButton.url}}' ></a>
  <div class='headline'>
    {{ headline }}
  </div>
  <div class='content'>
    <div class='text'>
      {{ local "retirement.funnelcake.content"}}
      <a class='result' data-url='{{ moreButton.url }}'>
        {{ local "retirement.funnelcake.more"}}
      </a>
    </div>
    <span class='action'>
      <a class='result install' data-url='{{ url }}'>
        {{ local "retirement.funnelcake.action"}}
      </a>
      <a class='result uninstall' data-url='{{ uninstallButton.url }}'>
        {{ local "retirement.funnelcake.action2"}}
      </a>
    </span>
  </div>
</div>
