<div class='retirement'>
  <a class='close result' data-url='{{closeButton.url}}' ></a>
  <div class='headline'>
    {{ headline }}
  </div>
  <div class='content'>
    <div class='text'>
      {{ local "retirement.chip.content"}}
      <a class='result' data-url='{{ moreButton.url }}'>
        {{ local "retirement.chip.more"}}
      </a>
    </div>
    <a class='action result' data-url='{{ url }}'>
      {{ local "retirement.chip.action"}}
    </a>
  </div>
</div>
