<div class='retirement'>
  <a class='close result' data-url='{{closeButton.url}}' ></a>
  <div class='headline'>
    {{ headline }}
  </div>
  <div class='content'>
    <div class='text'>
      {{ local "retirement.testpilot.content"}}
    </div>
    <a class='action result' data-url='{{ url }}'>
      {{ local "retirement.testpilot.action"}}
    </a>
  </div>
</div>
