<div class="result instant weather">
    <div class="header padded">
        <span class="title">{{title}}</span>
    </div>

    <div class="forecast padded">
        <div class="forecast-container">
            <div class="weather-item">
                <div class="date">{{today.date}}</div>
                <img width="55" height="55" src="{{today.icon}}" />
                <div class="temp">
                    {{today.maxTemp}} {{today.minTemp}}
                </div>
            </div>

            {{#each forecast}}
                <div class="weather-item">
                    <div class="date">{{weekday}}</div>
                    <img width="55" height="55" src="{{icon}}" />
                    <div class="temp">
                        {{max}}  {{min}}
                    </div>
                </div>
            {{/each}}

            <div class="source">
                <div class="source-container">
                    {{> partials/source}}
                </div>
            </div>
        </div>
    </div>
</div>
