<div id="connect-in-progress">
    <p id="header-name">{{i18n.connectInProgressHeader}}</p>
    <p id="instructions">{{i18n.connectInProgressMessage}}</p>
</div>

<div id="page-container">
    <div class="header-wrapper">
        <span class="header-name" data-visible-on-state="unpaired">{{i18n.title}}</span>
        <span class="header-name" data-visible-on-state="paired">{{i18n.connectedTitle}}</span>
    </div>
    <div class="content-wrapper">
        <div id="instructions" class="row" data-visible-on-state="unpaired">
            <div class="column width-50-percent">
                <p class="sub-header">{{i18n.instructionsTitle}}</p>
                <p class="tip android-tip">{{i18n.instructionsAndroid}}</p>
            </div>
            <div class="column width-50-percent">
                <p class="sub-header">{{i18n.pairingScanTitle}}</p>
                <div id="qrcode-wrapper" class="row">
                    <div id="qrcode"></div>
                </div>
            </div>
            <div class="clear-row">&nbsp;</div>
        </div>

        <div id="status" class="row" data-visible-on-state="paired">
            <img id="connection-status-img" />
            <div id="devices-info">
                <p id="device-name" class="sub-header"></p>
                <p>{{i18n.pairingBrowserPairWith}}</p>
                <p class="sub-header"><span id="master-name"></span> <strong>:</strong> <span id="connection-status-text"></span></p>
                <p id="on-disconnected-tip">{{i18n.onDisconnectedTip}}</p>
                <button id="unpair-button">{{i18n.unpair}}</button>
            </div>
        </div>

        <div id="features" class="row">
            <div class="all-features" data-visible-on-state="unpaired">
                <p class="header-name">{{i18n.pairingAllFeatures}}</p>
                <ul>
                    <li>
                        <img src="./images/download-video.svg" alt=""/>
                        <p>{{i18n.videoDownloaderTitle}}</p>
                    </li>
                    <li>
                        <img src="./images/receive-tab.svg" alt=""/>
                        <p>{{i18n.receiveTabTitle}}</p>
                    </li>
                    <li>
                        <img src="./images/send-tab-generic.svg" alt=""/>
                        <p>{{i18n.sendTabTitle}}</p>
                    </li>
                </ul>
            </div>
            <div class="enabled-features" data-visible-on-state="paired">
                <p class="header-name">{{i18n.pairingEnabledFeatures}}</p>
                <ul>
                    <li>
                        <img src="./images/download-video-black.svg" alt=""/>
                        <p>{{i18n.videoDownloaderTitle}}</p>
                    </li>
                    <li>
                        <img src="./images/receive-tab-black.svg" alt=""/>
                        <p>{{i18n.receiveTabTitle}}</p>
                    </li>
                    <li>
                        <img src="./images/send-tab-generic-black.svg" alt=""/>
                        <p>{{i18n.sendTabTitle}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <div id="footer">
            <p>
                <small>{{i18n.contactSupport}} <a class="support-link" target="_blank" href="https://cliqz.com/magazine/connect-features">
                {{i18n.contactLearnMore}}</a>.</small>
            <p>
        </div>
    </div>
</div>
