{{#each tests}}

<div class="test-snippet">
  <div class="test-body">

      {{!-- Static State --}}
      <div class="static-state">
        <p class="test-headline"> <code class="test-id">{{id}}</code> <span class="test-name">{{name}}</span></p>
        <p class="test-description">{{description}}</p>
        <div class="test-explanation">
            <div class="test-meta">
                <ul>
                    {{#if demographics}}
                        {{#if version}}
                            <li>Available for {{> demographics demographics}}, 
                            {{> version version}}</li>
                         {{else}}
                            <li>Available for {{> demographics demographics}}</li>
                        {{/if}}
                    {{else}}
                        {{#if version}}
                            <li>Available for {{> version version}}</li>
                        {{else}}
                            <li>Available for all users</li>
                        {{/if}}
                    {{/if}}
   
                    <li>Duration: {{start_date}} - {{end_date}}</li>
                    <li>Runs for: {{treatment_length}} days</li>
                    <li>Probability to join: {{probability}}</li>
                </ul>
            </div>
            <div class="test-groups">
                <ul>
                    <li>Groups: 
                        {{#each groups}}
                            <li>
                                {{@key}}:
                                    {{#each this}}
                                        {{@key}}: {{this}}
                                    {{/each}}
                            </li>
                        {{/each}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{!-- Client State --}}
    <div class="client-state">
        {{#if ../options.showStart}}
        <span>You are not part of this test
            <span class="test-action-button">
                <select class="start-test-group">
                    {{#each groups}}
                        <option value="{{@key}}">Group {{@key}}</option>
                    {{/each}}
                </select>
                <button class="start-test" data-test-id="{{id}}">Start</button>
            </span>
        {{/if}}
        {{#if ../options.showStop}}
        <span>On {{started}} you joined group {{group}}
            <button class="test-action-button stop-test" data-test-id="{{id}}">Stop</button>
        {{/if}}
        {{#if ../options.showRemove}}
        <span>On {{started}} you joined group {{group}}
            <button class="test-action-button remove-test" data-test-id="{{id}}">Remove</button>
        {{/if}}
        </span>
    </div>
  </div>
</div>

{{else}}
<p>No Tests</p>
{{/each}}
