<a class="table-row result non-selectable" data-extra="game_row_{{@index}}" data-url="{{url}}" href="{{url}}">
    <div class="table-cell club-logo">
        <div class="club-logo-img" style="background-image:url({{hostLogo}})"></div>
    </div>
    <div class="table-cell host fixed-width">{{emphasis host query 2 true}}</div>
    <div class="table-cell scored {{#if isLive}}live{{/if}}">
        <span>{{scored}}</span>
    </div>
    <div class="table-cell fixed-width">{{emphasis guest query 2 true}}</div>
    <div class="table-cell club-logo">
        <div class="club-logo-img" style="background-image:url({{guestLogo}})"></div>
    </div>
    <div class="table-cell time">{{gameTime}}</div>
    <div class="table-cell">
        {{#if isLive}}
            <span class="is-live">Live</span>
        {{/if}}
    </div>
    <div class="table-cell">
        <div class="league-logo" style="background-image: url({{leagueLogo}})" title="{{leagueName}}">
        </div>
    </div>
</a>
