<!-- calculator.tpl -->
{{#with data}}
    {{>logo data=logo}}
    {{>urlDetails data=urlDetails}}

    {{#with extra}}
        <div class="card__title">
           {{timeOrCalculator ez_type}} {{location}}
        </div>

        <div class="card__description">
            {{#if is_calculus}}
                <div class='cqz-result-h3 ez-calculator' cliqz-action='copy-calc-answer'>
                    <div class="main">
                       <div class="main__headline">{{prefix_answer}} <span id='calc-answer'>{{answer}}</span></div>
                       <div class="expression "> {{expression}}</div>
                       {{#if support_copy_ans}}
                            <div class="currency__copy">
                                <div id="calc-copy-msg">{{local 'mobile_calc_copy_ans'}}</div>
                                <div id="calc-copied-msg" style="display: none">{{local 'Copied'}}</div>
                            </div>
                       {{/if}}
                    </div>
                </div>
            {{else}}
                <div class='cqz-result-h3 ez-calculator'>
                    <div>
                        <div class="answer calc-answer">{{prefix_answer}} {{answer}}</div>
                        <div class="expression">{{expression}}</div>
                    </div>
                </div>
            {{/if}}
        </div>
    {{/with}}
{{/with}}
