<!-- celebrities.tpl @TODO -->

{{#with logo}}
	<div extra="logo" class="card__logo {{#if backgroundImage}}bg{{/if}}" data-style="{{#if backgroundImage}}background-image:{{backgroundImage}};{{#if backgroundColor}} background-color:#{{backgroundColor}};{{/if}}{{else}}{{ style }};{{/if}}">{{ text }}</div>
{{/with}}

{{#with data}}
<section class="primary">
		<h1 extra="title" class="card__title">{{ emphasis title ../text 2 true }}</a><span>(Wikipedia)</span></h1>
		<div extra="url" class="card__meta">
			<div>{{../urlDetails.friendly_url}}</div>
		</div>
		<div class="card__gallery">
			{{#each deepResults}}
				{{#if (logic type '===' 'images')}}
					{{#each links}}
						{{#if (limit @index 3)}}
							<div extra="image-{{@index}}" class="image" data-style="background-image: url({{image}})">Image</div>
						{{/if}}
					{{/each}}
				{{/if}}
			{{/each}}

		</div>
		<div extra="des" class="card__description">
			{{ emphasis description ../query 2 true }}
		</div>

		<div class="social">
			{{#each deepResults}}
				{{#if (logic type '===' 'social')}}
					{{#each links}}
						<div extra="social-{{@index}}" url="{{url}}" class="social__logo">
							<div class="card__logo__secondary bg" data-style="background-image: url({{image}});background-color:#fff;">{{ text }}</div>
						</div>
					{{/each}}
				{{/if}}
			{{/each}}
		</div>
	</section>

	<section class="secondary">

		{{#each data.deepResults}}
			{{#if (logic type '===' 'news')}}
				<!-- data.news -->
				{{#each links}}
					<div class="cards__item news">
						{{#with logo}}
							<div class="card__logo__secondary {{#if backgroundImage}}bg{{/if}}" data-style="{{#if backgroundImage}}background-image:{{backgroundImage}};{{#if backgroundColor}} background-color:#{{backgroundColor}};{{/if}}{{else}}{{ style }};{{/if}}">{{ text }}</div>
						{{/with}}


						<h2 class="cards__title__secondary" url="{{url}}"><div>{{title}}</div></h2>
						<div class="card__meta__secondary">
							{{../data.url}}
						</div>
					</div>
				{{/each}}
				<!-- end data.news -->
			{{else if (logic type '===' 'simple_links')}}
				{{#each links}}
					<div url="{{url}}" extra="link-{{@index}}" class="cards__item internal_links">
						<h2 class="cards__title__secondary">
							{{title}}
						</h2>
					</div>
				{{/each}}
			{{/if}}
		{{/each}}

	</section>

{{/with}}

<!-- end celebrities.tpl @TODO -->
