<!-- Cliqz.tpl -->
<section class="primary">
    <div class="card__description">
       {{#with data}}
            <div class="cqz-result-h2 nopadding">
             <div class="EZ-Cliqz-Header">
                    <img class="cliqz-title" src="{{extra.cliqz_logo}}">
                    </img>
                    <div class="cliqz-social">
                        {{#each deepResults}}
                            {{#if (logic type '===' 'social')}}
                                {{#each links}}
                                    <img  extra="title" url="{{url}}" class="EZ-Cliqz_Header-Contact-icon" src="{{image}}" />
                                {{/each}}
                            {{/if}}
                        {{/each}}
                    </div>
             </div>

             {{#with extra.slogan}}
                <div>
                    <div class="EZ-Cliqz-Body-H1"> {{local 'cliqz_slogan_H1'}} </div>
                    <div class="EZ-Cliqz-Body-H2">{{local 'cliqz_slogan_H2'}}</div>
                </div>
             {{/with}}

             <div class="EZ-Cliqz-Footer">
                <ul class="cta">
                    {{#each deepResults}}
                        {{#if (logic type '===' 'buttons')}}
                            {{#each links}}
                                <li url="{{url}}">
                                    <div style="color:{{extra.color}};background-color:{{extra.background-color}};">
                                        {{local title}}
                                    </div>
                                </li>
                            {{/each}}
                        {{/if}}
                    {{/each}}
                </ul>
             </div>
            </div>
      {{/with}}
    </div>
</section>
