<!-- currency.tpl -->

{{#with logo}}
	<div extra="logo" url="{{../url}}" class="card__logo {{#if backgroundImage}}bg{{/if}}" style="{{#if backgroundImage}}background-image:{{backgroundImage}};{{#if backgroundColor}} background-color:#{{backgroundColor}};{{/if}}{{else}}{{ style }};{{/if}}">{{ text }}</div>
 {{/with}}

<div id="currency-tpl" class='cqz-result-h3 currency' >
    <section cliqz-action='copy-calc-answer' class="primary">

      <div class="card__meta">
          <div>{{local 'no_legal_disclaimer'}}</div>
      </div>

      <h1 class="card__title">
         <div class="main__headline">
            {{data.extra.toSymbol}} <i id="calc-answer">{{numberFormat data.extra.toAmount.main}}</i> {{data.extra.toCurrency}}
          </div>
      </h1>

      <div class="card__description">
            <div class="message" id="calc-copy-msg">{{local 'mobile_calc_copy_ans'}}</div>
            <div class="message" id="calc-copied-msg" style="display: none">{{local 'Copied'}}</div>
      </div>

  </section>

  <section class="secondary">
        <div class="main">

            <table style="width:100%" class="currency__table">
              <tr>
                <td class="text-center">
                  {{data.extra.fromCurrency}}
                </td>
                <td>
                </td>
                <td class="text-center">
                  {{data.extra.toCurrency}}
                </td>
              </tr>
              <tr class="currency__swap">
                <td style="width: 40%">
                  <input class="currencyInput" id="fromInput" type"number" step="0.01" onkeyup="CLIQZ.UI.VIEWS.currency.updateFromValue({{json data}})" value="{{data.extra.fromAmount}}" />
                </td>
                <td>
                  <button class="currencySwitch" onclick="CLIQZ.UI.VIEWS.currency.switchCurrency({{json data}})">Swap</button>
                </td>
                <td style="width: 40%">
                  <input class="currencyInput" id="toInput" type"number" step="0.01" onkeyup="CLIQZ.UI.VIEWS.currency.updateToValue({{json data}})" value="{{data.extra.toAmount.main}}" />
                </td>
              </tr>
              <tr class="currency__legend first">
                <td>{{numberFormat data.extra.multiplyer}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat data.extra.mConversionRate}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 10)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 10)}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 50)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 50)}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 100)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 100)}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 200)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 200)}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 500)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 500)}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 1000)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 1000)}} {{data.extra.toCurrency}}</td>
              </tr>
            </table>
           <!-- <br>
          <p>{{numberFormat data.extra.multiplyer}} {{data.extra.fromCurrency}} = {{numberFormat data.extra.mConversionRate}} {{data.extra.toCurrency}}</p>
          <p>{{numberFormat (math data.extra.multiplyer '*' 10)}} {{data.extra.fromCurrency}} = {{numberFormat (math data.extra.mConversionRate '*' 10)}} {{data.extra.toCurrency}}</p>
          <p>{{numberFormat (math data.extra.multiplyer '*' 50)}} {{data.extra.fromCurrency}} = {{numberFormat (math data.extra.mConversionRate '*' 50)}} {{data.extra.toCurrency}}</p>
          <p>{{numberFormat (math data.extra.multiplyer '*' 100)}} {{data.extra.fromCurrency}} = {{numberFormat (math data.extra.mConversionRate '*' 100)}} {{data.extra.toCurrency}}</p>
          <p>{{numberFormat (math data.extra.multiplyer '*' 200)}} {{data.extra.fromCurrency}} = {{numberFormat (math data.extra.mConversionRate '*' 200)}} {{data.extra.toCurrency}}</p>
          <p>{{numberFormat (math data.extra.multiplyer '*' 500)}} {{data.extra.fromCurrency}} = {{numberFormat (math data.extra.mConversionRate '*' 500)}} {{data.extra.toCurrency}}</p>
          <p>{{numberFormat (math data.extra.multiplyer '*' 1000)}} {{data.extra.fromCurrency}} = {{numberFormat (math data.extra.mConversionRate '*' 10)}} {{data.extra.toCurrency}}</p>-->
          </div>
          <div extra="url" url="http://www.xe.com" class="poweredby">
              {{local 'mobile_calc_more'}} XE.com
          </div>

  </section>
</div>
