<!-- currency.tpl -->
<div id="currency-tpl" class='cqz-result-h3 currency'>
    {{>logo data=data.logo}}
    {{>urlDetails data=data.urlDetails}}
    <section cliqz-action='copy-calc-answer' class="primary">

        <div class="card__title">
            {{data.extra.toSymbol}} <i id="calc-answer">{{numberFormat data.extra.toAmount.main}}</i> {{data.extra.toCurrency}}
        </div>

        <div class="timestamp">
            <div>{{local 'no_legal_disclaimer'}}</div>
        </div>

        <div class="currency__copy">
            <div id="calc-copy-msg">{{local 'mobile_calc_copy_ans'}}</div>
            <div id="calc-copied-msg" style="display: none">{{local 'Copied'}}</div>
        </div>

  </section>

  <section class="secondary">
        <div class="main">

            <table style="width:100%" class="currency__table">
              <tr>
                <td class="text-center">
                  {{data.extra.fromCurrency}}
                </td>
                <td>
                </td>
                <td class="text-center">
                  {{data.extra.toCurrency}}
                </td>
              </tr>
              <tr class="currency__swap">
                <td style="width: 40%">
                  <input class="currencyInput" id="fromInput" type"number" step="0.01" onkeyup="CLIQZ.UI.VIEWS.currency.updateFromValue({{json data}})" value="{{data.extra.fromAmount}}" />
                </td>
                <td style="text-align: center;">
                  <img src="skin/img/swap-icon.svg" class="currencySwitch" onclick="CLIQZ.UI.VIEWS.currency.switchCurrency({{json data}})" />
                </td>
                <td style="width: 40%">
                  <input class="currencyInput" id="toInput" type"number" step="0.01" onkeyup="CLIQZ.UI.VIEWS.currency.updateToValue({{json data}})" value="{{data.extra.toAmount.main}}" />
                </td>
              </tr>
              <tr class="currency__legend first">
                <td>{{numberFormat data.extra.multiplyer}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat data.extra.mConversionRate}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 10)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 10)}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 50)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 50)}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 100)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 100)}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 200)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 200)}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 500)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 500)}} {{data.extra.toCurrency}}</td>
              </tr>
              <tr class="currency__legend">
                <td>{{numberFormat (math data.extra.multiplyer '*' 1000)}} {{data.extra.fromCurrency}}</td>
                <td style="text-align: center">=</td>
                <td>{{numberFormat (math data.extra.mConversionRate '*' 1000)}} {{data.extra.toCurrency}}</td>
              </tr>
            </table>
          </div>
          <div extra="url" url="http://www.xe.com/{{local 'lang_code'}}" class="poweredby">
              {{local 'mobile_calc_more'}} XE.com
          </div>

  </section>
</div>
