<!-- flightStatusEZ -->
{{>logo data=data.logo}}
{{>urlDetails data=data.urlDetails}}
{{#with data.extra}}

    {{>title data=flight_name}}

    <section class="card__description">
      <span class="flightStatusEZ-flightStatus" style="color:{{status_color}}">
          {{status}}
      </span>
      {{#if status_detail}}
          <span class="flightStatusEZ-statusDetails"> &#183; {{status_detail}}</span>
      {{/if}}
       <div extra="route" class="flightStatusEZ-plane-position">
           <img class="flightStatusEZ-plane-position-plane-img" style="left:0" data-src="{{plane_icon}}" />
           <div class="flightStatusEZ-plane-position-bar">
               <div class="flightStatusEZ-plane-position-dot" style="left:{{plane_position}}%; background:{{status_color}}"></div>
           </div>
       </div>

        <div class="flightStatusEZ-depart-arrival cf">
            <div extra="departure" class="flightStatusEZ-depart">
                <div>{{depart_arrive.0.location_short_name}}</div>
                <div class="flightStatusEZ-depart-arrival-name"> {{depart_arrive.0.location_name}} </div>
                {{#if (logic depart_arrive.0.scheduled_time '!=' depart_arrive.0.estimate_actual_time)}}
                    <span style="text-decoration: line-through; color: black;">{{depart_arrive.0.scheduled_time}}</span>
                {{/if}}
                <span style="color: {{depart_arrive.0.time_color}}">{{depart_arrive.0.estimate_actual_time}}</span>
                <div>{{local 'Terminal'}} {{depart_arrive.0.terminal}}</div>
                <div>{{local 'Gate'}} {{depart_arrive.0.gate}}</div>
            </div>

            <div extra="arrival" class="flightStatusEZ-arrival">
                <div>{{depart_arrive.1.location_short_name}}</div>
                <div class="flightStatusEZ-depart-arrival-name"> {{depart_arrive.1.location_name}} </div>
                {{#if (logic depart_arrive.1.scheduled_time '!=' depart_arrive.1.estimate_actual_time)}}
                    <span style="text-decoration: line-through; color: black;">{{depart_arrive.1.scheduled_time}}</span>
                {{/if}}
                <span style="color: {{depart_arrive.1.time_color}}">{{depart_arrive.1.estimate_actual_time}}</span>
                <div>{{local 'Terminal'}} {{depart_arrive.1.terminal}}</div>
                <div>{{local 'Gate'}} {{depart_arrive.1.gate}}</div>
            </div>
        </div>


    <div url="http://www.flightstats.com" extra="url" class="poweredby">
        {{local 'mobile_calc_more'}} Flightstats
    </div>
</section>
{{/with}}
