<!-- generic.tpl -->

{{#with logo}}
    <div extra="logo" class="card__logo {{#if backgroundImage}}bg{{/if}}" style="{{#if backgroundImage}}background-image:{{backgroundImage}};{{#if backgroundColor}} background-color:#{{backgroundColor}};{{/if}}{{else}}{{ style }};{{/if}}">{{ text }}</div>
{{/with}}

{{#if urlDetails}}

    <div extra="url" class="card__meta {{historyStyle}}">
        <div>{{urlDetails.friendly_url}}</div>
    </div>

    <section class="primary">

        <h1 extra="title" class="card__title {{historyStyle}}">
            {{#if data.extra.rich_data.full_name}}
                {{data.extra.rich_data.full_name}}
            {{else}}
                {{#if data.title}}
                    {{data.title}}
                {{else}}
                    {{title}}
                {{/if}}
            {{/if}}
            {{#if data.extra.rich_data.under_name}}<span>{{data.extra.rich_data.under_name}}</span>{{/if}}
        </h1>


        {{#if data.extra.rich_data.discovery_timestamp}}
            <div class="timestamp">{{ agoline data.extra.rich_data.discovery_timestamp }}</div>
        {{else}}
            <div class="separator"></div>
        {{/if}}


        <!-- main images -->

        <div class="card__gallery">
        {{#each data.deepResults}}
          {{#if (logic type '===' 'images')}}
            {{#each links}}
              {{#if (limit @index 3)}}
                <div class="image" data-style="background-image: url({{image}})">Image</div>
              {{/if}}
            {{/each}}
          {{/if}}
        {{/each}}


        {{#with data.extra}}
          {{#if rich_data.image}}
                  <div class="image big" data-style="background-image: url({{ rich_data.image }});">
                      Image
                  </div>
          {{else}}
            {{#if media}}
              <div class="image big" data-style="background-image: url({{ media }});">
                Image
              </div>
            {{else}}
              {{#if image.src}}
                <div class="image big" data-style="background-image: url({{ image.src }})">
                  Image
                </div>
              {{/if}}
              {{#if i}}
                <div class="image big" data-style="background-image: url({{ i }})">
                  Image
                </div>
              {{/if}}
            {{/if}}

          {{/if}}
        {{/with}}

        </div>

        <!-- end main images -->

        <!-- for videos '-->
      {{#each data.deepResults}}
        {{#if (logic type '===' 'videos')}}
          <div class="ez-video">
            {{#each links}}
              <div class="item" url="{{url}}">
                <div class="main__image" data-style="background-image: url({{ extra.thumbnail }})">
                  {{#if (sec_to_duration extra.duration)}}<span> {{ sec_to_duration extra.duration}}</span>{{/if}}
                </div>
                <h1 class="main__headline">{{ title }}</h1>
              </div>
            {{/each}}
          </div>
        {{/if}}
      {{/each}}
        <!--end for videos -->

        <div extra="des" class="card__description">

            {{#if data.extra.rich_data.url_ratingimg}}
                <img data-src="{{data.extra.rich_data.url_ratingimg}}" class="cqz-rd-rateimg"/>
            {{/if}}

            {{#if data.extra.rich_data.rating.img}}
                {{#if data.extra.rich_data.rating.val}}
                    <img data-src="{{data.extra.rich_data.rating.img}}" class="cqz-rd-rateimg"/>
                {{/if}}
            {{/if}}

            {{#if data.r.img}}
                {{#if data.r.val}}
                    <div class="main__rating">
                        <img data-src="{{data.r.img}}" class="cqz-rd-rateimg"/>
                        {{numberFormat data.r.val}}/{{data.r.scale}} <!--({{data.r.nVote}} Stimmen)-->
                    </div>
                {{/if}}
            {{/if}}

            {{#with data.extra.rich_data.director}}
                <div url="{{info.url}}" class="main__director">
                    {{title}}: {{info.name}}
                </div>
            {{/with}}

            {{#if data.subType}}
              {{#if (logic data.subType.class '===' 'EntityLocal') }}
                {{>local-data-sc}}
              {{/if}}
            {{/if}}

            {{#if data.des}}
                {{ emphasis data.des query 2 true }}
            {{else}}
                {{#if data.extra.rich_data.current_company}}
                {{else}}
                    {{ emphasis data.shortDescription query 2 true }}
                {{/if}}
            {{/if}}

            <!-- people data -->
            {{#with data.extra.rich_data}}
                {{#if current_job_title}}<br />{{current_job_title}}{{/if}}
                {{#if current_company}}<br />{{current_company}}{{/if}}
                {{#if since}}<br />seit {{since}}{{/if}}
            {{/with}}
            <!-- end people data -->
        </div>

    </section>
{{/if}}

<section class="secondary">

    {{#if data.extra.rich_data.mobi.ingredients}}
        <div class="card__description">
            <ul class="recipe_ingredients">
				{{#each data.extra.rich_data.mobi.ingredients}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}

    {{#each data.deepResults }}
        {{#if (logic type '===' 'streaming')}}
            {{#each links}}
              <div class="cards__item data_w">
                  <div class="card__logo__secondary" data-style="background-image: url({{image}});background-color:#fff;">.</div>
              </div>
            {{/each}}
        {{else if (logic type '===' 'simple_links')}}
            {{#each links}}
                <div url="{{logic extra.m_url '||' url}}" class="cards__item internal_links">
                    <h2 class="cards__title__secondary">
                        {{title}}
                    </h2>
                </div>
            {{/each}}
        {{else if (logic type '===' 'social')}}
            <div class="social">
    			{{#each links}}
    				<div extra="social-{{@index}}" url="{{url}}" class="social__logo">
    					<div class="card__logo__secondary bg" data-style="background-image: url({{image}});background-color:#fff;background-size: 100%">{{ text }}</div>
    				</div>
    			{{/each}}
            </div>
        {{/if}}
    {{/each}}

</section>

{{>EZ-category}}

{{>history}}

<!-- end generic.tpl -->
