<!-- history.tpl -->

{{#with data}}

    {{>title data=(local 'mobile_history_card_title')}}

    <section class="secondary">
        {{#each this}}

            <div class="additional_sources history" url="{{href}}" shortUrl='{{link}}' domain='{{domain}}'
                 extra='{{extra}}' arrow="false">
                {{#with logo}}
                    {{#if backgroundImage}}
                        <div class="item__logo bg" style="background-image:{{backgroundImage}};
                                                          background-color:#{{backgroundColor}}">
                        </div>
                    {{else}}
                        <div class="item__logo" style="{{ style }}">
                            {{ text }}
                        </div>
                    {{/if}}
                {{/with}}

                <div class="url"><div>{{ emphasis link ../../query 2 true }}</div></div>
                <h2 class="cards__title__secondary" data-index="{{@index}}">
                    {{{ emphasis title ../../query 2 true }}}
                </h2>
            </div>

        {{/each}}
    </section>
{{/with}}

<!-- end history.tpl -->
