<!-- ligaEZ1Game.tpl-->
{{>logo data=data.logo}}
{{>urlDetails data=data.urlDetails}}
{{>title data=data.title}}

{{#with data.extra}}

    <div class="soccer__result" cliqz-action="stop-click-event-propagation" onclick="osAPI.openLink('{{live_url}}')">

        <h5>{{spielTag}}</h5>
        <span class="meta__legend">{{gameTime}} - {{location}}</span>

        <table cellspacing="0" cellpadding="0">
            <tr>
                <td>{{HOST}}</td>
                <td class="score">
                    {{#if isLive}}
                        <div class="ez-liga-score">{{scored}}
                            <div class="ez-liga-live">live</div>
                        </div>
                    {{else if scored}}
                        <div class="ez-liga-vs">{{scored}}</div>
                    {{else}}
                        <div class="ez-liga-vs">{{local 'vs'}}</div>
                    {{/if}}
                </td>
                <td>{{GUESS}}</td>
            </tr>
        </table>
    </div>


{{/with}}
{{>poweredby-kicker}}
{{#each data.deepResults}}
    {{{getPartial type}}}
{{/each}}

<!-- end ligaEZ1Game.tpl-->
