<!-- ligaEZTable.tpl -->
{{>logo data=data.logo}}
{{>urlDetails data=data.urlDetails}}
{{>title data=data.title}}

{{#with data.extra}}
    <section class="secondary">
        <div class="ez-liga-tableHeader">
          <table>
            <thead>
                 <th></th>
                 <th>Mannschaft</th>
                 <th class="small">SP</th>
                 <th class="small">TD</th>
                 <th class="small bold">PKT</th>
            </thead>

            <tbody>
                {{#ranking}}
                <tr>
                    <td>{{rank}}.</td>
                    <td>{{club}}</td>
                    <td class="small">{{SP}}</td>
                    <td class="small">{{TD}}</td>
                    <td class="small bold">{{PKT}}</td>
                </tr>
                {{/ranking}}
            </tbody>
          </table>
        </div>
    </section>
{{/with}}
{{>poweredby-kicker}}


<!-- end ligaEZTable.tpl -->
