<!-- ligaEZ1Game.tpl-->
{{#with data}}
    {{#each gameData}}
        <div class="soccer__result" cliqz-action="stop-click-event-propagation" onclick="osAPI.openLink('{{live_url}}')">

            <img class="meta__league" src="{{leagueLogo}}" />
            <h5>{{spielTag}}</h5>
            <div class="meta__legend">{{gameDate}} ({{gameTime}})</div>
            <div class="meta__legend">{{location}}</div>

            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td class="team-name">{{HOST}}</td>
                    <td class="score">
                        {{#if isLive}}
                            <div class="ez-liga-score">{{scored}}
                                <div class="ez-liga-live">live</div>
                            </div>
                        {{else if scored}}
                            <div class="ez-liga-vs">{{scored}}</div>
                        {{else}}
                            <div class="ez-liga-vs">{{local 'vs'}}</div>
                        {{/if}}
                    </td>
                    <td class="team-name">{{GUESS}}</td>
                </tr>
            </table>
        </div>
    {{/each}}
    <div style="margin: 0 1rem">
      {{> subscribe-button team}}
    </div>
{{/with}}
{{>poweredby-kicker}}
<!-- end ligaEZ1Game.tpl-->
