<!-- liveTicker.tpl -->
{{>logo data=data.logo}}
{{>urlDetails data=data.urlDetails}}
{{>title data=data.title}}

{{#with data.extra}}
    <div class="bundesliga">
        {{#each matches }}
            <h2>{{ data.spielTag }} {{ this.date }}</h2>

            <div class="card__incard cf">
                {{#each this.matches }}

                    <div class="card__incard__item" url="{{live_url}}">

                        <div class="card__incard__content">
                            <h4>
                                {{ this.HOST }}
                            </h4>
                            <div class="score">
                                {{ this.scored }} <span>({{ this.gameTimeHour }})</span>
                            </div>
                            <h4>
                                {{ this.GUESS }}
                            </h4>
                        </div>

                    </div>

                {{/each}}

            </div>
        {{/each}}
    </div>
{{/with}}
{{>poweredby-kicker}}
<!-- end liveTicker.tpl -->
