{{#with data}}
    {{#if address}}
        <div class="cqz-local-result">
            <table class="local__head">
                <tr>
                    <td>
                        <img class="map__img" src="skin/img/maps-logo.svg" extra="map-image"
                             cliqz-action="stop-click-event-propagation" onclick="osAPI.browserAction('map', '{{mu}}')"/>
                         <div class="local-distance">
                            {{#if distance}}
                                {{distance distance}}
                            {{/if}}
                        </div>
                    </td>
                    <td>
                        {{#if address}}
                            <div class="address__details">
                                <div extra="address" show-status='true' class="address__text"
                                    cliqz-action="stop-click-event-propagation" onclick="osAPI.browserAction('map', '{{mu}}')">
                                    {{ address }}
                                </div>
                            </div>
                        {{/if}}
                    </td>
                </tr>
            </table>
            <table class="local__details">
                {{#if opening_hours}}
                    <td class="time-icon-cell">
                        <div extra="open-hour">
                            <div class="icon" style="background-image: url(skin/img/local-opening-hours.svg)">
                              Icon
                            </div>
                        </div>
                    </td>
                    <td>
                        <div extra="open-hour" style="color: {{opening_status.color}}">
                            {{opening_status.stt_text}}
                        </div>
                        <div>
                            {{opening_status.time_info_til}}
                        </div>
                        <div>
                            {{opening_status.time_info_str}}
                        </div>
                    </td>
                {{/if}}
                {{#if phone_address}}
                    {{#if phonenumber}}
                        <td class="phone-num-cell">
                            <div cliqz-action="stop-click-event-propagation"
                            onclick="osAPI.browserAction('phoneNumber', '{{phonenumber}}')">
                                <div class="icon"
                                style="background-image: url(skin/img/call-icon.svg)">
                                </div>
                                <div class="call-text">
                                    {{local 'mobile_local_card_call'}}
                                </div>
                            </div>
                        </td>
                    {{/if}}
                {{/if}}
            </table>
        </div>
    {{else if no_location}}
        <table class="no__location" extra="share-location"
               cliqz-action="stop-click-event-propagation" onclick="osAPI.shareLocation()">
            <td>
                <img class="pin__logo" src="skin/img/location_pin.svg"/>
                <div class="share__once">{{local 'mobile_share_location'}}</div>
            </td>
        </table>
    {{/if}}
{{/with}}
