{{#with data}}
    <div class="padded">
      <div class="lotto">
        <div class="lotto-date">{{ local 'lotto-gewinnzahlen' }} &#8226; {{ localeDate }}</div>
        {{#each lottoResults}}
          <div class="row">
            <div class="lotto-item-wrapper {{ classNames }}">
              {{#each result}}
                <div class="item">
                  {{ this }}
                </div>
              {{/each}}
            </div>
            {{#if description}}
              <span class="description">{{ local description }}</span>
            {{/if}}
            {{#if table}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
{{/with}}