<!-- news.tpl -->
{{#if links}}
    <div class="primary card__description">
        <div class="main mulitple">
            {{#each links}}
                <div url="{{url}}" extra="entry-{{@index}}" class="item">
                    <div class="main__image" data-style="background-image: url({{#if extra.thumbnail}}{{ extra.thumbnail }}{{else}}https://cdn.cliqz.com/extension/EZ/news/no-image-mobile.png{{/if}});">
                            Image
                    </div>
                    <h1 class="main__headline">
                        {{ title }}
                        <span>
                            {{#if extra.tweet_count}}
                                <span class="tweet_count">
                                    <img data-src="https://cdn.cliqz.com/extension/EZ/cliqz/EZ-social-twitter.svg"> {{extra.tweet_count}}
                                </span>
                            {{/if}}
                            {{ agoline extra.creation_timestamp }}
                        </span>
                    </h1>
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}
<!-- end news.tpl -->
