<!-- results.tpl -->
{{sendTelemetry results.length}}

{{#each results}}
    {{#unless invalid}}
        <div class="frame" {{#if ../frameWidth }} style="width: {{ ../frameWidth }}px; left: {{ left }}px" {{/if}}>
            <div class="card transform-wrapper">
                <div class="cqz-result-box"
                    type='{{ type }}'
                    kind='{{ kind_printer data.kind }}'
                    {{#if url}}
                        url='{{ url }}'
                    {{/if}}
                    idx='{{ @index }}'
                    id='cqz-result-box-{{ @index }}'
                    >
                        {{>(lookup . 'vertical')}}
                    {{#if url}}
                        <section class="share">
                            <p cliqz-action='stop-click-event-propagation'
                                onclick="osAPI.shareCard('{{ url }}')"
                                >{{local 'mobile_share_card'}}: {{url}}</p>
                        </section>
                    {{/if}}
                </div>
            </div>
            <br>
        </div>
    {{/unless}}
{{/each}}
<!-- googlethis -->
{{#with googleThis}}
    <div class="frame" extra="search" {{#if frameWidth }} style="width: {{ frameWidth }}px; left: {{ left }}px" {{/if}}>
        <div class="card last-card transform-wrapper">
            <div id="defaultEngine" url="{{searchEngineUrl}}{{searchString}}" kind="CL" class="cqz-result-box"  style="background-color: #{{ background }}">
                <div id="googleThisAnim">
                    <!-- <img data-src="skin/img/icon-google.svg"><br> -->
                    <h3>{{ title }}</h3>

                </div>

                {{#with logo}}
                    <div id="searchEngineLogo"
                         class="search_engine_logo"
                         style="{{style}}">
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
{{/with}}
<!-- end googlethis -->

<div class='cqz-result-selected transition'></div>

<!-- end results.tpl -->
