<!-- subscribe-button -->
{{#unless subscribedToLeague}}
  {{#if actionable}}
    <div 
      class="subscribe_button {{#unless isSubscribed}}subscribe{{/unless}}"
        onclick="CLIQZ.UI.VIEWS.soccer.toggleSubscription('{{type}}', '{{subtype}}', '{{id}}', {{isSubscribed}}, '{{index}}', '{{buttonCount}}')"
      cliqz-action="stop-click-event-propagation"
    >
      {{subscriptionString}}
    </div>
    {{#if actionNote}}
      <div class="action-note">{{ emphasis actionNote name 2 true true }}</div>
    {{/if}}
  {{else if finalScore}}
      <div class="no-subscribe game-ended">
        <div class="text">{{local 'mobile_soccer_game_ended'}}</div>
      </div>
  {{else if subscribedToBoth }}
    <div class="no-subscribe already-subscribed">
      <div>{{local 'mobile_soccer_subscribed_to_both'}}</div>
    </div>
  {{else if subscribedToOne }}
    <div class="no-subscribe already-subscribed">
      <div>{{local 'mobile_soccer_subscribed_to_one'}}</div>
    </div>
  {{/if}}
{{/unless}}
<!-- end subscribe-button -->