<!-- topsites.tpl -->

{{#if list}}

<div class="main noselect">
  <table>
    <tr>
      {{#each list}}
          <td align="center" valign="top">
            {{#if this}}
              <div class="blockTopsite" mainDomain="{{mainDomain}}" {{#unless ../isEditMode}} style="display: none;" {{/unless}} data-index="{{@index}}">X</div>
              <div class="topSitesLink" url="{{url}}" data-index="{{@index}}">
                  <div class="topsites__item"
                   style="{{style}}"
                   show-status=""
                   extra="{{extra}}"
                   >{{ text }}
                  </div>
              </div>
            {{else}}
              <div class="topsites__item {{../theme}}"></div>
            {{/if}}
          </td>
      {{/each}}
     </tr>
    </table>

    <div id="doneEditTopsites" class="topSitesOption" {{#unless isEditMode}} style="display: none;" {{/unless}}>{{local 'mobile_freshtab_edit_done'}}</div>
    <div id="cancelEditTopsites" class="topSitesOption" {{#unless isEditMode}} style="display: none;" {{/unless}}>{{local 'mobile_freshtab_edit_cancel'}}</div>
  </ul>
</div>
{{/if}}
{{#if isEmpty}}
  {{#unless isEditMode}}
    <div class="noTopsites">{{local 'mobile_freshtab_no_topsites'}}</div>
  {{/unless}}
{{/if}}
<!-- end topsites.tpl -->
