{{#if internalResults}}
    <div class='buttons padded'>
        {{#if internalResultsLogo}}
            <span class="dot" style="background-color: #{{logo.backgroundColor}}"></span>
        {{/if}}
        {{#each (take internalResults internalResultsLimit)}}
            <a
                id="{{elementId}}"
                class="result btn {{className}}"
                data-url="{{ url }}"
                {{#if displayUrl}}
                    href="{{displayUrl}}"
                {{/if}}
            >
                {{local (concatLocale ../localePrefix title)}}
            </a>
        {{/each}}
    </div>
{{/if}}
