{{#if internalResults}}
    <div class='buttons padded'>
        {{#if logo}}
            <span class="dot" style="background-color: #{{logo.backgroundColor}}"></span>
        {{/if}}
        {{#each (take internalResults internalResultsLimit)}}
            <a id="{{elementId}}" class="result btn {{className}}" href="{{ url }}">
                {{local title}}
            </a>
        {{/each}}
    </div>
{{/if}}
