{{#with localResult}}
    <div class="padded">
        <div class="local-result-wrapper white-background clearfix">
            <a
                data-url="{{mapResult.url}}"
                href="{{mapResult.url}}"
                class="result local-map"
                data-extra="map"
                >
            </a>
            <div class="local-info">
                {{#if address}}
                    <div class="local-address">
                        <a
                            class="result address"
                            data-url="{{address.url}}"
                        >
                            {{ address.displayText }}
                        </a>
                        {{#if distance}}
                            &#183;
                            <span class="distance">
                                {{distance distance}}
                            </span>
                        {{/if}}
                    </div>
                {{/if}}
                {{#if phoneNumber}}
                    <div class="local-phone">
                        <a
                            class="result"
                            data-url="{{phoneNumber.url}}"
                        >
                            {{ phoneNumber.displayText }}
                        </a>
                    </div>
                {{/if}}
                <div class="other-info">
                    {{#if openingStatus}}
                        &#183;
                        <span>
                            {{openingStatus.timeInfo}}
                        </span>
                        <span style="color: {{openingStatus.color}}">
                            {{local openingStatus.sttText}}
                        </span>
                    {{/if}}
                    {{#if ratingImg}}
                        <img class="rating-img" width="90" src="{{ratingImg}}" alt="" />
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
{{/with}}
