<div class="icons">

    <span class="logo" data-extra="logo"
        style="{{logo.style}}">
        {{logo.text}}
    </span>
    <span class="micro-logo" data-extra="logo"
         style="background-color: #{{logo.backgroundColor}}">
    </span>
    {{#if icon}}
        <span class="icon {{icon}}" data-extra="icon-{{icon}}"></span>
    {{/if}}
</div>
