<div class="show-time-row">
    <div class="cinema-info table-cell">
        {{#if cinemaInfo}}
        <span title="{{cinemaInfo.name}}">{{cinemaInfo.name}}</span>
        <span>
            {{#if cinemaInfo.distance}}
            <span class="distance">{{distance cinemaInfo.distance}}</span> &#183;
            {{/if}}
            <span title="{{cinemaInfo.address}}">{{cinemaInfo.address}}</span>
        </span>
        {{/if}}
        {{#if movieInfo}}
        <span class="movie-title" title="{{movieInfo.title}}">{{movieInfo.title}}</span>
        {{/if}}
    </div>
    <div class="show-time-info table-cell">
    {{#each showTimes}}
        <span class="show-time-span">
            <a class="result" href="{{url}}">{{displayTime}}
                {{#if movieLanguage}}
                    <span>{{movieLanguage}}</span>
                {{/if}}
                {{#if is3D}}
                    <span>&#183; 3D</span>
                {{/if}}
            </a>
        </span>
    {{/each}}
    </div>
</div>
