<div class="columns">
    <div class="column col-3">
        <ul class="nav">
            <figure class="avatar avatar-lg centered" data-initial="a"
            style="background-color: #5755d9;"></figure>
            <div class="divider text-center" data-content="anolysis"></div>
            <li class="nav-item">
                <a href="{{path}}#browser-attributes">Browser Attributes</a>
            </li>
            <li class="nav-item">
                <a href="{{path}}#group-id">Group ID</a>
            </li>
            <li class="nav-item">
                <a href="{{path}}#analyses">Analyses</a>
            </li>
            <li class="nav-item">
                <a href="{{path}}#metrics">Metrics</a>
            </li>
            <li class="nav-item">
                <a href="{{path}}#about">What is Anolysis</a>
            </li>
        </ul>
    </div>
    <div class="column col-9">
        <div id="messages"></div>
        <div id="browser-attributes"></div>
        <div id="group-id"></div>
        <div id="analyses"></div>
        <div id="metrics"></div>
        <div id="about"></div>
    </div>
</div>
