<div class="card">
  <div class="card-header">
    <div class="card-title h5">Available Metrics</div>
    <div class="card-subtitle text-gray">
      A <code>metric</code> is a signal used to measure types of behavior inside
      the browser (e.g.: when users interact with some components, click on
      buttons, change settings, select results in the dropdown, etc.).
      Metrics are generally not meant to be sent to the backend, but will
      instead be stored by Anolysis and made available for analyses to
      create aggregations.
      <div class="divider"></div>
      Here's a list of all current metrics:
    </div>
  </div>
  <div class="card-body">
    {{#each this}}
    <li class="dem-factor-item">
      <details class="accordion">
        <summary class="accordion-header">
          <i class="icon icon-arrow-right mr-1 text-gray"></i>
          <span class="">{{this.name}}</span>
          <span class="{{this.class}}">{{this.count}}</span>
        </summary>
        <div class="accordion-body">
          <!-- Accordions content -->
          <div class="columns">
            <div class="column col-4">
              <p class="description">{{this.description}}</p>
              <a class="btn btn-primary btn-sm" href="{{path}}?metric={{this.name}}">
                View
              </a>
            </div>
            <div class="column col-8">
              <pre class="code" data-lang="analysis schema">{{this.schema}}</pre>
            </div>
          </div>
        </div>
      </details>
    </li>
    {{/each}}
  </div>
  <div class="card-footer">
    Note: Metrics are stored inside the browser and are never sent to the backend.
  </div>
</div>