<div class="article-content">
  <a href="{{model.url}}" class="topnews news" data-index="{{index}}">
    <div class="clearfix">
      {{cliqz-logo model=model.logo}}
      <div extra="url" class="url">{{model.displayUrl}}</div>
    </div>
    <div class="newsContent">
      <div extra='title' class='title'>
        {{#if isBreakingNews}}
          <span class="breakingNews">
          {{#if model.breaking_label}}
            {{model.breaking_label}}:
          {{else}}
            {{t 'news.breaking-news'}}
          {{/if}}
          </span>
        {{/if}}
        {{model.title}}
      </div>
    </div>

    <div extra='description' class='description'>
      <div class="text multiline-ellipsis">
        <p>{{model.description}}</p>
      </div>
    </div>

    <div class="readMore">{{t 'news.read-more'}}</div>

  </a>
</div>