{{#each sessions as |session|}}
  {{history-session model=session query=query tagName="li" class="session"}}
{{else}}
  {{#unless model.isLoading}}
    {{#if query}}
      <li>{{t 'history.no-search-result-found'}} {{query}}</li>
    {{else}}
      <li>{{t 'history.no-history-entry-found'}}</li>
    {{/if}}
  {{/unless}}
{{/each}}

{{#if model.isLoading}}
  {{#if sessions}}
    {{loading-spinner tagName=''}}
  {{else}}
    <li class="loading-list">
      {{loading-spinner tagName=''}}
    </li>
  {{/if}}
{{else}}
  {{#unless model.hasMoreResults}}
    {{#if sessions}}
      <li>{{t 'history.no-further-history-entry'}}</li>
    {{/if}}
  {{/unless}}
{{/if}}
