<div class="visits">
  <button class="delete-session-btn" {{action "deleteSession"}}
    {{action "markForDeletion" on="mouseEnter"}}
    {{action "unMarkForDeletion" on="mouseLeave"}} title="{{t 'history.delete-this-section'}}">
  </button>
  {{history-visit query=query model=entryVisit logoclass="big" onDelete=(action "deleteVisit") hasNoSortedVisits=hasNoSortedVisits}}
  {{#each sortedVisits as |visit|}}
    {{history-visit query=query model=visit onDelete=(action "deleteVisit")}}
  {{/each}}
</div>
