{{#unless hasNoSortedVisits}}
  <button class="delete-visit-btn" {{action "deleteVisit" bubbles=false}}
    {{action "markForDeletion" on="mouseEnter"}} title="{{t 'history.delete-this-page'}}"
    {{action "unMarkForDeletion" on="mouseLeave"}}>
  </button>
{{/unless}}
  <span {{action 'sendTelemetry' 'logo'}}>
    {{cliqz-logo model=model.contact.logo tagName="span" class=logoclass}}
  </span>
  {{#if logoclass}}
    <div>
      <span class="domain" {{action 'sendTelemetry' 'header_url'}}>
        {{model.contact.domain}}
      </span>
    </div>
  {{/if}}

  <div class="visit-content">
    <span class="title">
      {{#if keyword}}
        <span class="keyword" {{action 'sendTelemetry' 'query'}}>
          <img src="./assets/images/mag-glass-dark.svg"/>
          {{keyword}}
        </span>
        {{#unless isCliqz}}
        &ndash;
        {{/unless}}
      {{/if}}
      {{#unless isCliqz}}
        <span {{action 'sendTelemetry' 'title'}}>
          {{highlight model.title query}}
        </span>
      {{/unless}}
    </span>

    <span class="url" {{action 'sendTelemetry' 'url'}}>
      {{#unless isCliqz}}
        {{highlight (url model.url) query}}
      {{/unless}}
    </span>

    <span class="visited-at" {{action 'sendTelemetry' 'timestamp'}}>
      {{#if model.lastVisitedAt}}
        {{#if isHovered}}
          {{moment-format model.lastVisitedAt 'HH:mm LL' }}
        {{else}}
          {{moment-from-now model.lastVisitedAt interval=60000}}
        {{/if}}
      {{/if}}
    </span>
  </div>
