<section contextmenu="speedDialCMenu-{{index}}-{{type}}">
  <a {{action "click" preventDefault=false}} class="historyLink {{if model.searchAlias "historyWithSearch"}}" data-index="{{index}}" href="{{model.url}}" title="{{model.title}}">

    <div class="dialIconHolder {{if model.searchAlias "dialWithSearch"}}">
      {{cliqz-logo model=model.logo}}
      {{#if model.searchAlias}}
        {{search-alias model=model type=type index=index alias=model.searchAlias}}
      {{/if}}
    </div>
    <div class="title">
      {{email-notifications model=model tagName="span"}}
      {{model.displayTitle}}
      {{#if model.notificationsEnabled}}
        {{#if model.notificationCount}}
          <span>({{model.notificationCount}})</span>
        {{/if}}
      {{/if}}
    </div>
  </a>

  <a class="delete" {{action "remove"}}>X</a>

  <menu type="context" id="speedDialCMenu-{{index}}-{{type}}">
     <menuitem label="{{t 'speedDials.topsite-remove'}}" {{action "remove"}}></menuitem>
     {{#unless isCustom}}
       <menuitem label="{{t 'speedDials.reset-all'}}" {{action "resetAll"}}></menuitem>
     {{/unless}}

      {{#if model.notificationsEnabled}}
        <menuitem class="action-notifications-enabled" label="{{t 'speedDials.notifications-disable'}}" {{action "disableNotifications"}}></menuitem>
        <menuitem label="{{t 'notifications.txt-email-refresh'}}" {{action "refreshNotifications"}}></menuitem>
      {{/if}}

      {{#if model.notificationInaccesible}}
        <menuitem class="action-notifications-enabled" label="{{t 'speedDials.notifications-disable'}}" {{action "disableNotifications"}}></menuitem>
        <menuitem label="{{t 'notifications.txt-email-refresh'}}" {{action "refreshNotifications"}}></menuitem>
      {{/if}}

      {{#if model.notificationsAvailable}}
        <menuitem class="action-notifications-disabled" label="{{t 'speedDials.notifications-enable'}}" {{action "enableNotifications"}}></menuitem>
      {{/if}}


 </menu>
</section>
