<a class="historyLink" data-index="{{index}}" href="{{model.url}}" title="{{model.title}}">
  <div class="cliqz-brand-logo" style="{{model.logo.style}}">{{model.logo.text}}</div>
  <div class="title">{{model.displayTitle}}</div>
</a>
<a class="delete" {{action "remove"}}>X</a>
