<a href="{{model.url}}" class="topnews news" data-index="{{index}}">
  <div class="clearfix">
    <div extra="logo" class="logo" style="{{model.logo.style}}">{{model.logo.text}}</div>
    <div extra="url" class="url">{{model.displayUrl}}</div>
  </div>

  <div class="newsContent">
    <div extra='title' class='title'>{{model.title}}</div>
    <div extra='description' class='description'>{{model.description}}</div>
  </div>
</a>