<ul id="historyTiles">
  {{#each topFiveHistory as |dial index|}}
    {{speed-dial model=dial index=index tagName="li" type='historysites' removeAction="remove"}}
  {{/each}}
</ul>

<ul id="customTiles">
  {{#each model.custom as |dial index|}}
    {{speed-dial model=dial index=index tagName="li" type='customsites' removeAction="remove"}}
  {{/each}}
  {{#if displayAddBtn }}
    {{#unless hideAddBtn}}
      <li class="addFrame"><a href="#" class="addBtn overflow-hidden" {{action 'showAddForm'}}>Add icon</a></li>
    {{/unless}}
  {{/if}}
  {{#if showAddForm}}
  <li>
    <form name="addForm" {{action "addSpeedDial" on="submit"}} class="clearfix addDialForm">
      <a class="hideAddForm formRow" {{action 'hideAddForm'}}>X</a>

      {{input name="addUrl" type="text" placeholder=(t 'speedDials.address') value=newSpeedDial class="formRow addUrl"}}

      {{#if showNotification }}
        <div class="notification">{{t 'speedDials.exists-already' }}</div>
      {{/if}}

      {{#if notValidUrl }}
        <div class="notification">{{t 'speedDials.not-valid'}}</div>
      {{/if}}

      <button type="submit" class="cliqz-brands-button-4 cqz-ez-btn">{{t 'speedDials.btn-add'}}</button>
    </form>
  </li>
{{/if}}
</ul>



