{{#if isShowtimesAvailable}}
<div class="show-time padded">
    <div class="wrapper dropdown-tabs white-background">
        <div class="background-placeholder"></div>
        {{#each showTimesInfo}}
            <label
                id="tab-{{@index}}"
                class="dropdown-tab {{#if isCurrent}}checked{{/if}}"
            >{{showDate}}</label>
        {{/each}}
        {{#each showTimesInfo}}
            <div id="tab-block-{{@index}}"
                 class="tab-block"
            >
                <div class="table">
                    {{#each (take rows ../showTimesLimit) }}
                        {{> partials/movie-cinema/showtime-row}}
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
    <div>
        {{#if expandButton.show}}
            <a
                class="result expand-btn"
                data-url="{{expandButton.url}}"
            >
                {{local expandButton.title}}
            </a>
        {{/if}}
    </div>
</div>
{{/if}}
