{{#if isShowtimesAvailable}}
<div class="show-time padded">
    <div class="title">
        <span>{{local 'cinema-movie-showtimes'}} &#183; {{headerTitle}}</span>
        <span>&#183; <span class="location-icon"></span> {{cityName}}</span>
    </div>
    <div class="wrapper dropdown-tabs white-background">
        <div class="background-placeholder"></div>
        {{#each showTimesInfo}}
            <input class="tab-radio-input" type="radio" name="tabs" id="tab-{{@index}}" {{#if @first}}checked="checked"{{/if}}/>
            <label class="dropdown-tab-label" for="tab-{{@index}}">{{showDate}}</label>
        {{/each}}
        {{#each showTimesInfo}}
            <div id="tab-block-{{@index}}"
                 class="tab-block"
            >
                <div class="table">
                    {{#each (take rows ../showTimesLimit) }}
                        {{> partials/movie-cinema/showtime-row}}
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
    <div>
        {{#if expandButton.show}}
            <a class="result expand-btn" href="{{expandButton.url}}">{{local expandButton.title}}</a>
        {{/if}}
    </div>
</div>
{{/if}}
